<div class="span3">
                         <ul class="side-nav">
            <li ><a href="#" title="Back to Parent Page" class="cust" style="
background: #009dcd;
font-weight: bold;
color: #fff;
font-size: 14px;
padding: 14px 18px 15px 22px; 
width: 100%;">Desing & Development</a></li>
            
            <li class="page_item page-item-294 current_page_item "><a href="/application_development"> Custom Application Development  <div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            
            <li class="page_item page-item-296 "><a href="/product_development">Product Development Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>

            <li class="page_item page-item-299 "><a href="/saas_development">SAAS / PAAS / IAAS Development<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>

            <li class="page_item page-item-364 "><a  href="/product_support"> Product Support / Maintenance Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>

            <li class="page_item page-item-250 "><a href="/web_services_development">Web Services / API Development Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>

             <li class="page_item page-item-250 "><a href="/web_design_development"> Web Design / Development Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
             
               <li class="page_item page-item-250 "><a href="/wireframe_development">Wireframe and POC Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
          </ul>
      </div>