<div class="span3">
                         <ul class="side-nav">
            <li ><a href="#" title="Back to Parent Page" class="cust" style="
background: #009dcd;
font-weight: bold;
color: #fff;
font-size: 14px;
padding: 14px 18px 15px 22px; 
width: 100%;">Security Services</a></li>
            
            <li class="<%= params[:action] == 'security_services' ? ('page_item page-item-250 current_page_item') : '' %>"><a href="/security_services">Overview  <div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>

            <li class="<%= params[:action] == 'security_cancel' ? ('page_item page-item-251 current_page_item') : '' %>"><a href="/security_cancel">Cancellation & Refund Policy<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            
            <li class="<%= params[:action] == 'security_legal' ? ('page_item page-item-252 current_page_item') : '' %>"><a  href="/security_legal">Legal Disclaimer<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>       
                    </div>