<h4>Dear Admin,</h4>
<h5>Someone wants to contact you.</h5>

<table>
  <tr>
    <td>Contact Name:</td>
    <td><%= @name.capitalize %></td>
  </tr>
  <tr>
    <td>Contact Email:</td>
    <td> <%= @email %></td>
  </tr>
  <% if @subject != "Hide" %>
<tr>
    <td>Subject:</td>
    <td><%= @subject %></td>
  </tr>
  <% end %>
  <tr>
    <td>Comment:</td>
    <td><%= @message %></td>
  </tr>
</table>