<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  Name:<%= @name %>
  <body>
  E-mail_id: <%= @email %><br/>
  Comment: <%= @message %>
  </body>
</html>