<!-- Page Head -->
  
  <div class="header_page">
    <div class="container">
      <div class="row-fluid">
        <div class="span6">
          <h4>About Us </h4>
        </div>
        <div class="breadcrumbss">
          
          <ul class="page_parents pull-right">
            <li><i class="icon-chevron-right"></i></li>
           
            
            <li><a href="about-us.html">About Us </a></li>

          </ul>
        </div>
        
      </div>
    </div>
    
  </div> 
  
  
  
  <section id="content" class="page-dynamic_template-about2 sequentialchildren  section_last">
    <div class="row-fluid">
     
      
     <div class="span12">
       
      <div class="row-fluid row-dynamic-el " style="">

        <div class="container">

          <div class="row-fluid">

            <div class="span6 dynamic_slideshow"><div class="slideshow_container flexslider slide_layout_fixed" id="flex" >    <ul class="slides slide_flexslider">   <li class=' slide_element slide1 frame1' data-thumb='/assets/content/images/all/07/misc-4-90x45.jpg'><img src="/assets/content/images/all/09/misc-4.jpg" title='misc-4' alt='' />   </li> </ul></div><span class="shadow"></span></div>

            <div class="span6 plain_text alignment_left"><h2 class="big_title" style="color:#555;">Welcome to Media Cloud</h2><p class="content"  style="color:#999;"><span style="color:#009dcd;  font-weight:bold;">Media Cloud</span> is a ruby on rails development company formed with a vision of providing superior design and development services to client across the globe.our motive to deliver in time, in budget with quality services always keep us on out toes, but we enjoy this as we love what we do. We have been serving clients with different services starting from product design to development to deployment to consulting on different verticals for over 6+ years. We hire the best talents from the industry with a vision to create a platform for our clients where they can come and talk out issues and walk with the most optimum solution. We have people from best masters and engineering institutes across India like IIM's and IIT's with experience ranging from 3- 25 years. We aim to create a benchmark for our competitors and clients which will redefine the meaning of quality in budget and on-time delivery.

              <br /><br />
              We work with emerging technologies like Ruby on Rails, Cloud Computing producing excellent SAAS, PAAS and IAAS apps for our clients through agile development methodologies.</p></div>

            </div>

          </div>

        </div>

        <div class="row-fluid row-dynamic-el " style="">

          <div class="container">

            <div class="row-fluid">

              <div class="divider__"></div>

            </div>

          </div>

        </div>

      <div class="row-fluid row-dynamic-el section-style" style="background-image:url(/assets/img/parallex2.png);  background-repeat: no-repeat;background-position: 50% 0%;background-attachment: fixed; ">

        <div class="container">

          <div class="row-fluid">

            <div class="row-fluid row-dynamic-el " style="">

              <div class="container">

                <div class="row-fluid">

                  <div class="span4 services_creative"><span class="icon_wrapper"><i class=" moon-laptop icon"></i></span><h4><a href="devlopment.html"> Design & Development</a></h4><p>Superior quality responsive designs produced for applications deployed on cloud and built in RAILS.<br><br></p><a href="devlopment.html" class="link">Read More</a></div>

                  <div class="span4 services_creative"><span class="icon_wrapper"><i class=" moon-cloud icon"></i></span><h4><a href="cloud.html">Cloud Services</a></h4><p>Our cloud master chefs can help you with any issues and solutions related to public and Private cloud.<br><br></p><a href="cloud.html" class="link">Read More</a></div>

                  <div class="span4 services_creative"><span class="icon_wrapper"><i class=" moon-users-4 icon"></i></span><h4><a href="security.html">Security Services</a></h4><p>Light on your system resources, you don't even notice it's running in the background & protecting you. "One chosen solution with high performance cyber threat protection".</p><a href="security.html" class="link">Read More</a></div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>                
    </div>
    
  </div>
</section>
<a href="#" class="scrollup">Scroll</a> 
<!-- Social Profiles -->


<!-- Footer -->