<style>
h3{
    padding-top:20px;
    padding-bottom:20px;
    }
</style>

<!-- .header -->        


        <!-- Page Head -->
    
    <div class="header_page">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Desing & Development</h4>
                    </div>
                    <div class="breadcrumbss">
                        <!--
                        <ul class="page_parents pull-right">
                            <li>You are here: </li>
                            <li><a href="index.html">Home</a>/</li>
                            
                            
                            <li><a href="index74337433.html?page_id=248">Shortcodes </a>/</li>

                                                        <li><a href="indexa814a814.html?page_id=294">Quote</a></li>

                        </ul>
                        -->
                    </div>
                   
                </div>
            </div>
            
    </div> 
     
    
    <section id="content">
        <div class="container" id="page">
            <div class="row">
                <%= render :partial => "shared/design_and_development" %>

                    <div class="span9">
         <div class="themeple_sc"><div class="header"><h3>Custom Application Development</h3><span class="border_style_color"></span></div></div>
<div class="themeple_sc"><div class="themeple_blockquote">

<h3>Ruby on Rails framework</h3>

We specialize and love to develop custom application on Ruby on Rails framework. With good amount of experience in working on custom products, we not only work with you redefining your requirements but also work to make the final product look more usable and saleable which further helps our client to reduce Return on investment period and start generating quick profits. We follow Agile Development methodology using SCRUM and DSSM reducing the time to market for custom applications generating feedbacks for improvement while the product is being developed. In the end what you get is a totally polished product easily accepted for the masses. Clients are a part of our development process and to say the most important stakeholder.

</div></div>
<p>&nbsp;</p>

                    </div>

            </div>
        </div>
</section>
 <a href="#" class="scrollup">Scroll</a> 
 <!-- Social Profiles -->
    

<!-- Footer -->
    </div>