<!-- .header -->        
<style>
h3{
  padding-top:20px;
  padding-bottom:20px;
  }
</style>

        <!-- Page Head -->
    
    <div class="header_page">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Our Amazing Products</h4>
                    </div>
                    <div class="breadcrumbss">
                  
                    </div>
                   
                </div>
            </div>
            
    </div> 
     
    
    <section id="content">
        <div class="container" id="page">
            <div class="row">
                    <%= render :partial => "shared/security" %>

                    <div class="span9">
         <div class="themeple_sc"><div class="header">
         <h3>eBooks</h3><span class="border_style_color"></span></div></div>
<div class="themeple_sc">
<div class="themeple_blockquote">

<p>Learning and Sharing using our platform is a quick and efficient way. you can have all your questions answered by friends and teachers, Quickly refer and post your queries to teachers and classmates</p>
<%= image_tag  "assets/web.jpg" %>

<%= image_tag  "assets/windows.jpg" %>
<%= image_tag  "assets/Ruby On Rails.jpg" %>



</div></div>
<p>&nbsp;</p>

                    </div>

            </div>
        </div>
</section>
 <a href="#" class="scrollup">Scroll</a> 
 <!-- Social Profiles -->
    

<!-- Footer -->
    </div>