<!-- .header -->        
<style>
h3{
  padding-top:20px;
  padding-bottom:20px;
  }
</style>

        <!-- Page Head -->
    
    <div class="header_page">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Our Amazing Products</h4>
                    </div>
                    <div class="breadcrumbss">
                  
                    </div>
                   
                </div>
            </div>
            
    </div> 
     
    
    <section id="content">
        <div class="container" id="page">
            <div class="row">
                    <%= render :partial => "shared/security" %>

                    <div class="span9">
         <div class="themeple_sc"><div class="header">
         <h3>Category eBooks</h3><span class="border_style_color"></span></div></div>
<div class="themeple_sc">
<div class="themeple_blockquote">



<div class="span12">
<div class="span3">
<%= image_tag  "assets/web.jpg" ,:class=>"img_algn" %>
<button >Download</button>
</div>
<div class="span3">
<%= image_tag  "assets/windows.jpg",:class=>"img_algn"%>
<button >Download</button>
</div>
<div class="span3">
<%= image_tag  "assets/Ruby On Rails.jpg",:class=>"img_algn" %>
<button >Download</button>
</div>
</div>
</div>

<%#= image_tag @image.avatar.url(:thumb) %>

</div></div>
<p>&nbsp;</p>

                    </div>

            </div>
        </div>
</section>
 <a href="#" class="scrollup">Scroll</a> 
 <!-- Social Profiles -->
    

<!-- Footer -->
    </div>
<style type="text/css">
    .img_algn{ height: auto;
    width: 100%;}
</style>>
<script>
$(document).ready(function(){
    $("button").click(function(){
       alert("coming soon")
    });
});

</script>