<!-- .header -->        
<style>
h3{
    padding-top:20px;
    padding-bottom:20px;
    }
</style>

        <!-- Page Head -->
    
    <div class="header_page">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Cloud Services</h4>
                    </div>
                    <div class="breadcrumbss">
                        <!--
                        <ul class="page_parents pull-right">
                            <li>You are here: </li>
                            <li><a href="index.html">Home</a>/</li>
                            
                            
                            <li><a href="index74337433.html?page_id=248">Shortcodes </a>/</li>

                                                        <li><a href="indexa814a814.html?page_id=294">Quote</a></li>

                        </ul>
                        -->
                    </div>
                   
                </div>
            </div>
            
    </div> 
     
    
    <section id="content">
        <div class="container" id="page">
            <div class="row">
                    <%= render :partial => "shared/cloud_header" %>

                    <div class="span9">
         <div class="themeple_sc"><div class="header"><h3>Cloud Architecture and Design Services</h3><span class="border_style_color"></span></div></div>
<div class="themeple_sc"><div class="themeple_blockquote"><p>We follow Model Driven Architecture and Design Method . We take all Business function and Business Rule / Logic decision at Architecture and Decision phase.<p>
<ul>
<li>
We have reduced Coding & Testimg phase effort by 60%. Also Reduce rework and Customization effort and increase Productivity.
</li>
<li>  
We collaborate with following Standards / Technology / Products / Tools:</li>
<li>TOGAF, Archimate, SOA Ontology</li>
<li>VMware, Xen, Hypervisor-V, vCloud Director, HL</li>
<li>CSCC, CSA, PCI-DSS, HL7 . IS-27001</li>
<li>Web standard, OASIS, OMG, NIST, PCI-DSS, UML, BPMN</li>
<li>Amazon Web service, Cloud Foundry. Eucalyptus.</li>
<li>Big Data, Data center, Cloud Infrastructure and Cloud Computing.</li>
<li>Our Cloud Team is lead by an IT Evangelist with 24+yrs of IT Experience, having strong skill in IT Management , IT Strategy, IT Architecture, Solution delivery, Quality Management and Product Development in Systems, Finance, Manufacturing and Automobile domain.</li>
<li>Having expertise in IT Architecture, Enterprise Modeling based Architecture, Enterprise Integration, Technology – Virtual Infrastructure, Cloud Computing, High Performance Computing, Big Data and Predictive Analytics, Machine Learning Algorithm.</li>
</ul></div></div>
<p>&nbsp;</p>

                    </div>

            </div>
        </div>
</section>
 <a href="#" class="scrollup">Scroll</a> 
 <!-- Social Profiles -->
    

<!-- Footer -->
    </div>


