<!-- .header -->        
<style>
h3{
    padding-top:20px;
    padding-bottom:20px;
    }
</style>
        <!-- Page Head -->
    
    <div class="header_page">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Cloud Services</h4>
                    </div>
                    <div class="breadcrumbss">
                        <!--
                        <ul class="page_parents pull-right">
                            <li>You are here: </li>
                            <li><a href="index.html">Home</a>/</li>
                            
                            
                            <li><a href="index74337433.html?page_id=248">Shortcodes </a>/</li>

                                                        <li><a href="indexa814a814.html?page_id=294">Quote</a></li>

                        </ul>
                        -->
                    </div>
                   
                </div>
            </div>
            
    </div> 
     
    
    <section id="content">
        <div class="container" id="page">
            <div class="row">
                    <div class="span3">
                         <ul class="side-nav">
            <li ><a href="#" title="Back to Parent Page" class="cust" style="
background: #009dcd;
font-weight: bold;
color: #fff;
font-size: 14px;
padding: 15px 55px 15px 35px;
width: 100%;">Cloud Services</a></li>
            
            <li class="page_item page-item-294  "><a href="cloud.html">Who We Are <div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            <li class="page_item page-item-296 "><a href="cloud-architech.html">Cloud Architecture and Design Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            <li class="page_item page-item-299  "><a href="cloud-consultancy.html">Cloud Consultancy Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>

            <li class="page_item page-item-364 "><a href="cloud-sass.html">SAAS / PAAS / IAAS Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            <li class="page_item page-item-250 current_page_item "><a href="cloud-consult.html">Cloud Consulting<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
          </ul>
                    </div>

                    <div class="span9">
         <div class="themeple_sc"><div class="header"><h3>Cloud Consulting</h3><span class="border_style_color"></span></div></div>
<div class="themeple_sc"><div class="themeple_blockquote"><p>Cloud is just not about moving to any cloud but choosing the right cloud fulfilling your business needs. You can be from any domain and if you are facing a problem on answering some very critical questions required to take decision for your application and infrastructure we are here to help.<p>
<ul style="list-style-type: lower-alpha;">
<li>
We help you redefine your problem into facts that helps you to take decisions</li>
<li>  
We help you prepare a solution for your problem</li>
<li>We help you choose the right vendor</li>
<li>We help you choose the right platform</li>
<li>We help you save money and time</li>
<li>Let us take care of your problem while you focus on your business</li>
</ul>

</div></div>
<p>&nbsp;</p>
               
                    </div>

            </div>
        </div>
</section>
 <a href="#" class="scrollup">Scroll</a> 
 <!-- Social Profiles -->
    

<!-- Footer -->
    </div>