<style>
h3{
  padding-top:20px;
  padding-bottom:20px;
  }
</style>

    <!-- .header -->        


        <!-- Page Head -->
    
    <div class="header_page">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Cloud Services</h4>
                    </div>
                    <div class="breadcrumbss">
                        <!--
                        <ul class="page_parents pull-right">
                            <li>You are here: </li>
                            <li><a href="index.html">Home</a>/</li>
                            
                            
                            <li><a href="index74337433.html?page_id=248">Shortcodes </a>/</li>

                                                        <li><a href="indexa814a814.html?page_id=294">Quote</a></li>

                        </ul>
                        -->
                    </div>
                   
                </div>
            </div>
            
    </div> 
     
    
    <section id="content">
        <div class="container" id="page">
            <div class="row">
                    <%= render :partial => "shared/cloud_header" %>

                    <div class="span9">
         <div class="themeple_sc"><div class="header"><h3>Who We Are</h3><span class="border_style_color"></span></div></div>
<div class="themeple_sc"><div class="themeple_blockquote">We are the industry experts in cloud and different services we provide are
<h3>Enterprise Architecture services</h3>

TOGAF based Architecture Building Blocks, Reference Architecture, Architecture Principle, Architecture Decision and Technology Recommendation. Virtual Enterprise and Virtual Data Center, Middleware Platform Integration with Private and Public Cloud. Enterprise Data Management Enterprise Cloud and Datacenter. Big Data and Analytics with Hadoop, Mahout and Machine Learning.

<h3>Middleware Platform Services</h3>

Web sphere – App Server, ESB, MQ,MB integration with financial system . Open Source – Mule ESB, Cloud Host WSO2 – ESB, Identity Management, Rules Engine, Process server, Net Weaver / XI Integration with Legacy System. Integration with AWS Cloud.

<h3>Virtualization and Cloud Services</h3>

Virtualization Platform - ESX / ESXi, vCenter Server , vShield , vSphere. Cloud Platform - vSphere, vCloud Director, vCloud Network and Security, vShield. AWS Cloud Platform.

<h3>Data Mining and BIG Data Services</h3>

Hadoop, Hive, Cassendra, Hbase and Mahout – Machine Learning Algorithm Library. Big Data Platform - Cloud Era, Spot Fire, Green Plum, AWS EMR, MAP-R, SAP – HANA. Predictive Analytics Products – 11 ANTS, Salford.

<h3>Process and Governance Services</h3>

IT GRC, CMMI Audit, ITSM / ITIL, SAS 70 Type II / SSAE 16 Con 3 , PCI-DSS , HIPAA Compliance in AWS Platform. Governing Process -CoBIT, Val IT.</div></div>
<p>&nbsp;</p>

                    </div>

            </div>
        </div>
</section>
 <a href="#" class="scrollup">Scroll</a> 
 <!-- Social Profiles -->
    

<!-- Footer -->
