
    <!-- .header -->        

<style>
h3{
    padding-top:20px;
    padding-bottom:20px;
    }
</style>
        <!-- Page Head -->
    
    <div class="header_page">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Cloud Services</h4>
                    </div>
                    <div class="breadcrumbss">
                        <!--
                        <ul class="page_parents pull-right">
                            <li>You are here: </li>
                            <li><a href="index.html">Home</a>/</li>
                            
                            
                            <li><a href="index74337433.html?page_id=248">Shortcodes </a>/</li>

                                                        <li><a href="indexa814a814.html?page_id=294">Quote</a></li>

                        </ul>
                        -->
                    </div>
                   
                </div>
            </div>
            
    </div> 
     
    
    <section id="content">
        <div class="container" id="page">
            <div class="row">
                    <div class="span3">
                         <ul class="side-nav">
            <li ><a href="#" title="Back to Parent Page" class="cust" style="
background: #009dcd;
font-weight: bold;
color: #fff;
font-size: 14px;
padding: 15px 55px 15px 35px;
width: 100%;">Cloud Services</a></li>
            
            <li class="page_item page-item-294  "><a href="cloud.html">Who We Are <div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            <li class="page_item page-item-296 "><a href="cloud-architech.html">Cloud Architecture and Design Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            <li class="page_item page-item-299 "><a href="cloud-consultancy.html">Cloud Consultancy Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>

            <li class="page_item page-item-364 current_page_item "><a href="#">SAAS / PAAS / IAAS Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            <li class="page_item page-item-250 "><a href="cloud-consult.html">Cloud Consulting<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
          </ul>
                    </div>

                    <div class="span9">
         <div class="themeple_sc"><div class="header"><h3>SAAS / PAAS / IAAS Services</h3><span class="border_style_color"></span></div></div>
<div class="themeple_sc"><div class="themeple_blockquote"><p>Proper training is given for operations and we give post delivery support and maintenance</p>

<p>Software as a Service (SaaS) is a software distribution model in which applications are hosted by a vendor or service provider and made available to customers over a network, typically the Internet.</p>

<p>Platform as a Service (PaaS) is a paradigm for delivering operating systems and associated services over the Internet without downloads or installation.</p>
<p>Infrastructure as a Service (IaaS) involves outsourcing the equipment used to support operations, including storage, hardware, servers and networking components.</p>
<p>The increasing selection of services delivered over the Internet is sometimes referred to as XaaS.</p>
</div></div>
<p>&nbsp;</p>

                    </div>

            </div>
        </div>
</section>
 <a href="#" class="scrollup">Scroll</a> 
 <!-- Social Profiles -->
    

<!-- Footer -->
    </div>
