<div class="top_wrapper">
  
 
  
  

    <!-- .header -->        

    

    
    <section id="content" class="page-dynamic_template-contactpa sequentialchildren section_first ">
                    <div class="row-fluid">
                       
            
               <div class="span12">
               
        <div class="row-fluid row-dynamic-el">

<div class="span12"><div class="row-fluid row-google-map"><iframe class="googlemap" style="height:300px;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=bommanahalli&amp;hl=en&amp;sll=12.898360,77.617947&amp;sspn=0.112164,0.154324&amp;hnear=bommanahalli,&amp;t=m&amp;z=13&amp;output=embed"></iframe><div class="desc"></div></div></div>

</div>

<div class="row-fluid row-dynamic-el " style="">

<div class="container">

<div class="row-fluid">

<div class="span8 contact_form">
<div class="header">
<dl class="dl-horizontal">
<dt><i class="moon-pen-5"></i></dt>
<dd style="margin-left:55px !important; margin-top:10px;">
<h4>Write Now</h4>
</dd>
</dl>
</div>
<div class="row-fluid">
<div class="row-fluid">
<div class="span12">
<div class="comment-respond">
         <div id ="contact">
            <%= render :partial => "contact" %>
          </div>
        </div>
 <div id="ajaxresponse"></div>
 </div>
 </div>
 </div>
 </div>

<div class="span4 post_page_cont"><div class="header"><dl class="dl-horizontal"><dt><i class="moon-file-2"></i></dt><dd style="margin-left:55px !important; margin-top:10px;"><h4>Media Cloud</h4></dd></dl></div><p>Media Cloud is a ruby on rails development company formed with a vision of providing superior design and development services to client across the globe.our motive to deliver in time, in budget with quality services always keep us on out toes, but we enjoy this as we love what we do. We have been serving clients with different services starting from product design to development to deployment to consulting on different verticals for over 6+ years. We hire the best talents from the industry with a vision to create a platform for our clients where they can come and talk out issues and walk with the most optimum solution. We have people from best masters and engineering institutes across India like IIM's and IIT's with experience ranging from 3- 25 years. We aim to create a benchmark for our competitors and clients which will redefine the meaning of quality in budget and on-time delivery. 

</p>
<p>We work with emerging technologies like Ruby on Rails, Cloud Computing producing excellent SAAS, PAAS and IAAS apps for our clients through agile development methodologies.</p>

</div>

</div>

</div>

</div>                
                </div>
             
                    </div>
             </section>
 <a href="#" class="scrollup">Scroll</a> 
 <!-- Social Profiles -->
    

<!-- Footer -->
    </div>