<span class="slider-img"></span>
  <section id="slider-fullwidth"  class="slider">
    <script type="text/javascript" src="/assets/content/plugins/LayerSlider/js/layerslider.kreaturamedia.jqueryf39e.js?ver=4.0.1"></script>
    <script type="text/javascript" src="/assets/content/plugins/LayerSlider/js/jquery-easing-1.36f3e.js?ver=1.3.0"></script>
    <script type="text/javascript" src="/assets/content/plugins/LayerSlider/js/jquerytransite2dc.js?ver=0.9.9"></script>
    <script type="text/javascript">
      var lsjQuery = jQuery.noConflict();
      lsjQuery(document).ready(function() {
        if(typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('jquery'); }
        else if(typeof jQuery.transit == "undefined" || typeof jQuery.transit.modifiedForLayerSlider == "undefined") { lsShowNotice('transit'); }
        else {
          lsjQuery("#layerslider_6").layerSlider({
            width : '100%',
            height : '460px',
            responsive : true,
            responsiveUnder : 940,
            sublayerContainer : 940,
            autoStart : true,
            pauseOnHover : true,
            firstLayer : 1,
            animateFirstLayer : true,
            randomSlideshow : false,
            twoWaySlideshow : true,
            loops : 0,
            forceLoopNum : true,
            autoPlayVideos : true,
            autoPauseSlideshow : 'auto',
            youtubePreview : 'maxresdefault.jpg',
            keybNav : true,
            touchNav : true,
            skin : 'defaultskin',
            skinsPath : '/assets/content/plugins/LayerSlider/skins/',
            globalBGColor : '#efefef',
            navPrevNext : true,
            navStartStop : false,
            navButtons : false,
            hoverPrevNext : true,
            hoverBottomNav : false,
            thumbnailNavigation : 'disabled',
            tnWidth : 100,
            tnHeight : 60,
            tnContainerWidth : '60%',
            tnActiveOpacity : 35,
            tnInactiveOpacity : 100,
            imgPreload : true,
            yourLogo : false,
            yourLogoStyle : 'left: 10px; top: 10px;',
            yourLogoLink : false,
            yourLogoTarget : '_self',
            cbInit : function(element) { },
            cbStart : function(data) { },
            cbStop : function(data) { },
            cbPause : function(data) { },
            cbAnimStart : function(data) { },
            cbAnimStop : function(data) { },
            cbPrev : function(data) { },
            cbNext : function(data) { }
          });
}
});
</script>
<!-- Layer Slider -->

<div id="layerslider_6" class="ls-wp-container" style="width: 100%; height: 460px; margin: 0px auto; ">

<div class="ls-layer"  style="slidedirection: right; slidedelay: 4000; durationin: 1500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0; ">

<img alt="img" class="ls-s-1"  src="/assets/content/images/all/09/bg-11.png"  style="position: absolute; top: -318px; left: -538px; slidedirection : fade; slideoutdirection : fade;  durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 200; delayout : 0; showuntil : 0; ">

<h4  class="ls-s-1 slider_bg_cl" style="position: absolute; top:186px; left: -12px; slidedirection : fade; slideoutdirection : fade; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 2200; delayout : 0; showuntil : 0; padding:7px 10px; font-size:16px; color: #fff;  white-space: nowrap;"> Cloud Infrastructure  </h4>

<img alt="img" class="ls-s-1"  src="/assets/img/iphone-mockup-white1222.png"  style="position: absolute; top: -36px; left: 450px; slidedirection : bottom; slideoutdirection : bottom;  durationin : 1500; durationout : 1500; easingin : easeInOutElastic; easingout : easeInOutQuint; delayin : 1100; delayout : 0; showuntil : 0; ">


<h4  class="ls-s-1 slider_bg_cl" style="position: absolute; top:102px; left: -10px; slidedirection : fade; slideoutdirection : fade; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1400; delayout : 0; showuntil : 0; padding:7px 10px; font-size:16px; color: #fff;  white-space: nowrap;"> Design & Development </h4>

<h4  class="ls-s-1 slider_bg_cl" style="position: absolute; top:144px; left: -11px; slidedirection : fade; slideoutdirection : fade; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1800; delayout : 0; showuntil : 0; padding:7px 10px; font-size:16px; color: #fff;  white-space: nowrap;"> Security  Services  </h4>

<h4  class="ls-s-1 slider_bg_cl" style="position: absolute; top:228px; left: -10px; slidedirection : fade; slideoutdirection : fade; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 2600; delayout : 0; showuntil : 0; padding:7px 10px; font-size:16px; color: #fff;  white-space: nowrap;"> IT Consultancy </h4>

<h4  class="ls-s-1 slider_bg_cl" style="position: absolute; top:270px; left: -10px; slidedirection : fade; slideoutdirection : fade; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 3000; delayout : 0; showuntil : 0; padding:7px 10px; font-size:16px; color: #fff;  white-space: nowrap;"> Solution Integration   </h4>

<h4  class="ls-s-1 slider_bg_cl" style="position: absolute; top:312px; left: -10px; slidedirection : fade; slideoutdirection : fade; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 3600; delayout : 0; showuntil : 0; padding:7px 10px; font-size:16px; color: #fff;  white-space: nowrap;"> SPI Solutioning </h4>
<h4  class="ls-s-1 slider_bg_cl" style="position: absolute; top:312px; left: -10px; slidedirection : fade; slideoutdirection : fade; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 3600; delayout : 0; showuntil : 0; padding:7px 10px; font-size:16px; color: #fff;  white-space: nowrap;">  QA on SPI Platform </h4>

</div>

<div class="ls-layer"  style="slidedirection: right; slidedelay: 4000; durationin: 1500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0; ">

<img alt="img" class="ls-s-1"  src="/assets/content/images/all/09/31.jpg"  style="position: absolute; top: -61px; left: -492px; slidedirection : fade; slideoutdirection : fade;  durationin : 1800; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 200; delayout : 0; showuntil : 0; ">

<img alt="img" class="ls-s-1"   src="/assets/img/cloud4.png"  style="position: absolute; top: 50px; left: 500px; slidedirection : bottom; slideoutdirection : bottom;  durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 400; delayout : 0; showuntil : 0; ">

<h1  class="ls-s-1" style="position: absolute; top:168px; left: 291px; slidedirection : left; slideoutdirection : left; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 700; delayout : 0; showuntil : 0; font-weight:200;  font-family: Open Sans; color: #fff;  white-space: nowrap;"> POWERFULL </h1>

<h1  class="ls-s-1" style="position: absolute; top:219px; left: 27px; slidedirection : left; slideoutdirection : left; durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1000; delayout : 0; showuntil : 0; font-weight:700; padding:10px 15px;border-bottom:1px solid #fff; border-top:1px solid #fff; font-family: Open Sans; font-size: 38px; line-height: 38px; color: #fff;  white-space: nowrap;"> CLOUD INFRASTRUCTURE  </h1>

<img alt="img" class="ls-s-1"  src="/assets/content/images/all/08/Theme-.png"  style="position: absolute; top: 305px; left: 262px; slidedirection : bottom; slideoutdirection : bottom;  durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1300; delayout : 0; showuntil : 0; "></div>

</div>

</section>
<!-- .header -->        
<section id="content" class="page-dynamic_template-home sequentialchildren  ">
  <div class="row-fluid">
   <div class="span12">
    <div class="row-fluid row-dynamic-el " style="">
      <div class="container">
        <div class="row-fluid">
          <div class="span12 plain_text alignment_center"><h1 class="big_title" style="color:rgba(68,68,68);"><span style="font-weight:300; font-size:28px; color:#888; ">Our amazing services and solutions at   <span style="color:#009dcd; font-weight:bold; font-size:inherit;">Media Cloud</span> for<br> your business needs. </h1><p class="content"  style="color:#969ba2;"></p></div>
        </div>
      </div>
    </div>
    <div class="row-fluid row-dynamic-el " style="">
      <div class="container">
        <div class="row-fluid">
          <div class="divider__"></div>
        </div>
      </div>
    </div>
    <div class="row-fluid row-dynamic-el " style="">
      <div class="container">
        <div class="row-fluid">
          <div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="circle"><i class=" moon-cloud icon  "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">Public   Cloud  Services</a></h4></dd><dd>Infrastructure as a Service Platform <span style="color:#009dcd; font-weight:bold; font-size:inherit;">(Opscode-Chef, Knife, Recipes)</span> !Design of Cloud  infrastructure for a Client. Sizing of cloud storage  - requirement based . High Availability , BCP & DR   design</dd><dd><a  href="cloud.html" class="read_m"><span>Read More</span> <span class="direct_btn"><i class="moon-arrow-right-2"></i></span></a></dd></dl></div>
          <div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="circle"><i class=" moon-laptop icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">Design & Development</a></h4></dd><dd>We specialize and love to develop custom application on <span style="color:#009dcd; font-weight:bold; font-size:inherit;">Ruby on Rails</span> framework.We follow Agile Development methodology using SCRUM and DSSM reducing the time to market for custom applications generating feedbacks for improvement while the product is being developed.</dd><dd><a  href="devlopment.html" class="read_m"><span>Read More</span> <span class="direct_btn"><i class="moon-arrow-right-2"></i></span></a></dd></dl></div>
          <div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="circle"><i class=" moon-users-4 icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">Security Services</a></h4></dd><dd>We at  <span style="color:#009dcd; font-weight:bold; font-size:inherit;">Media Cloud </span> Light on your system resources, you don't even notice it's running in the background & protecting you. "One chosen solution with high performance cyber threat protection".</dd><dd><a href="security.html" class="read_m"><span>Read More</span> <span class="direct_btn"><i class="moon-arrow-right-2"></i></span></a></dd></dl></div>
        </div>
      </div>
    </div>
    
  <div class="row-fluid row-dynamic-el" style="">
    <div class="container">
      <div class="row-fluid">
        <div class="span6">
          <div class="header">
            <dl class="dl-horizontal">
            <dt style="display:none;"></dt>
            <dd style="margin-left:0px">
            <h4>Why Choose Us</h4></dd>
            </dl>
            </div>
            <div class="accordion " id="accordion1420688989">
            <div class="accordion-group">
            <div class="accordion-heading in_head">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1420688989" href="#toggle7642">Cloud Deployment and Migration</a>
            </div>
            <div id="toggle7642" class="accordion-body in collapse ">
            <div class="accordion-inner">You can trust us for any migration of data and application from one cloud to another or deploying your Ruby on Rails app on any of the cloud servers like AWS, EY, Heroku, Rackspace etc.
            </div>
            </div>
            </div>
            <div class="accordion-group"><div class="accordion-heading "><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1420688989" href="#toggle1935">Ruby on Rails Development</a>
            </div>
            <div id="toggle1935" class="accordion-body  collapse ">
            <div class="accordion-inner">Get your apps developed and migrated to ruby on rails and experience the best of the Ruby on Rails development services by our experienced professionals. We will also help you get them on cloud for you. 
            </div>
            </div>
            </div>
            <div class="accordion-group">
            <div class="accordion-heading ">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1420688989" href="#toggle28932">Cloud Infrastructure Solution</a>
            </div>
            <div id="toggle28932" class="accordion-body  collapse">
            <div class="accordion-inner">Infrastructure as a Service Platform (Opscode-Chef, Knife, Recipes) !Design of Cloud infrastructure for a Client. Sizing of cloud storage - requirement based . High Availability , BCP & DR design...
            </div>
            </div>
            </div>
            </div>
            </div>
        <div class="span6 recent_news">
        <div class="header">
        <dl class="dl-horizontal">
        <dt style="display:none;"></dt>
        <dd style="margin-left:0px">
        <h4>Featured</h4>
        </dd>
        </dl>
        </div>
        <div class="row-fluid"><div class="span12">
        <dl class="news-article blog-article style_2 dl-horizontal">
        <dt><div class="dt">
        <span class="date"><i class="moon-cloud"></i>  </span>
         
            
          
       
        </div></dt>
        <dd><h5><a href="cloud.html">Cloud Infrastructure Service </a></h5><p>Media Cloud  Consulting Provides  IT Advisory / Architecture Consulting work  for   India/USA Clients.We work on Model Driven Architecture and Design to reduces dependency and Increases Productivity..</p><a href="indexcaf0.html" class="read_m">
        <span>Read More</span> <span class="direct_btn"><i class="moon-arrow-right-2"></i></span></a></dd></dl>
        <dl class="news-article blog-article style_2 dl-horizontal"><dt><div class="dt"><span class="date"><i class="moon-thumbs-up"></i>  </span>
         
          
        </dt>
        
        <dd><h5><a href="cloud.html">Cloud Consultancy</a>
        </h5>
        <p>Cloud is just not about moving to any cloud but choosing the right cloud fulfilling your business needs. You can be from any domain and if you are facing a problem on answering some very critical questions required to take decision for your application and infrastructure we are here to help.
</p><a href="index57e7.html" class="read_m">
        <span>Read More</span>
         <span class="direct_btn">
         <i class="moon-arrow-right-2"></i></span></a>
         </dd>
         </dl>
         <div>
         </div>
         </div>
      </div>
    </div>
  </div>
 
<a href="#" class="scrollup">Scroll</a> 
<!-- Social Profiles -->
<!-- Footer -->
</div>