<style>
h3{
    padding-top:20px;
    padding-bottom:20px;
    }
</style>

        <!-- Page Head -->
    
    <div class="header_page">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Security Services</h4>
                    </div>
                    <div class="breadcrumbss">
                        <!--
                        <ul class="page_parents pull-right">
                            <li>You are here: </li>
                            <li><a href="index.html">Home</a>/</li>
                            
                            
                            <li><a href="index74337433.html?page_id=248">Shortcodes </a>/</li>

                                                        <li><a href="indexa814a814.html?page_id=294">Quote</a></li>

                        </ul>
                        -->
                    </div>
                   
                </div>
            </div>
            
    </div> 
     
    
    <section id="content">
        <div class="container" id="page">
            <div class="row">
                    <%= render :partial => "shared/security" %>

                    <div class="span9">
         <div class="themeple_sc"><div class="header"><h3>Privacy Policy</h3><span class="border_style_color"></span></div></div>
<div class="themeple_sc"><div class="themeple_blockquote">
<p>
The following privacy policy describes the information and privacy practices for media cloud services provided at mediacloud . This privacy policy describes how media cloud Agents will collect and use your information. All information provided to media cloud  may be shared with media cloud . When you provide a Agent with your personal information, you consent to the information practices described in this policy. Media cloud makes sure that your valuable information is not stored anywhere on our machines. Also media cloud is just a payment processor for its clients who are selling the antivirus products to its customers. Media Cloud doesnot own any security product and bears no responsibility to any misconduct. Please be advised to only purchase product after satisfiction and review. </p>
 <p>This privacy policy may not apply to Web sites that are accessible through the media cloud  may contain links to other sites operated by third parties including, but not limited to, third-party sites that display media cloud trademarks. We encourage you to read the privacy policies of those other sites to learn how they collect, use, and share and secure your information. To assist you with reading through our privacy policy, we have provided questions and answers below that you may find helpful in understanding our privacy practices:</p>

<h3>When does Media Cloud collect information from me?</h3>

<p>When using products or services available from  www.mediacloud.co.in, you may be asked to provide personal information. For example, you may be asked to provide personal information when you schedule an appointment for services; bring in your product for service; purchase products; contact www.mediacloud.co.in call centers; initiate a chat session with www.mediacloud.co.in.</p>
<p>Requests received later than 7 business days prior to the end of the current service period will be treated as cancellation of services for the next service period.
</p>
<h3>How is my information used?</h3>

<p>www.mediacloud.co.in  uses the information you provide to fulfill requests for service or information; provide customer service; promotions or surveys; offer new products or services; improve the effectiveness of our Web site, marketing endeavors and offers; conduct research and analysis; send marketing communications; or perform other business activities</p>
<p>In case any client is not completely satisfied with our services we can provide a refund within 48 hours from the date and time of sale of the Project. The final refunds will be made after deducting the Service Tax and the Hourly charges for the work completed by us.</p>
<p>If paid by credit card, refunds will be issued to the original credit card provided at the time of purchase and in case of Payment Gateway Name payments refund will be made to the same account.</p>
<h3>Does www.mediacloud.co.in share my personal information with others?</h3>

<p>www.www.mediacloud.co.in does not sell or rent your personal information to third parties, although we may need to share your personal information with certain third parties such as our service providers and other representatives for limited purposes. For example, www.mediacloud.co.in. may share personal information with third parties to send marketing communications; service products; conduct research, analysis or administer surveys; send mail and e-mail; process credit card payments, data storage, and hosting services. The third parties with whom www.mediacloud.co.in. conducts business are only authorized to use your information to perform the service for which they were hired. As part of our agreement with them, they are required to follow the privacy guidelines given to them and to take reasonable measures to ensure your personal information is secure. From time to time, we may be required to share personal information in response to a valid court order, subpoena, government investigation, or as otherwise required by law. We also reserve the right to report to law enforcement agencies any activities that we, in good faith, believe to be unlawful www.mediacloud.co.in may share certain personal information when we believe that such release is reasonably necessary to protect the rights, property, and safety of ourselves and others. www.mediacloud.co.in may also transfer personal information in the event of a corporate sale, merger, acquisition, dissolution or similar event.</p>
<h3>How does www.mediacloud.co.in secure my personal information?</h3>

<p>Security: www.mediacloud.co.in takes reasonable precautions to protect Personal Information from loss, misuse and unauthorized access, disclosure, alteration and destruction. www.mediacloud.co.in website has safeguards in place to protect the loss, misuse and alteration of the data you provide to us with physical, electronic, and managerial procedures. In certain areas of www.mediacloud.co.in website,uses industry-standard SSL-encryption to enhance the security of data transmissions. While www.mediacloud.co.in strives to protect your Personal Information, www.mediacloud.co.in Designs cannot guarantee the security of the Personal Information, so www.mediacloud.co.in urges you to take every precaution to protect your personal data when you are on the Internet. Change your passwords often, use a combination of letters and numbers, and make sure you use a secure browser. Within www.mediacloud.co.in, data is stored in controlled servers with limited access by authorized personnel...</p>




</div></div>
<p>&nbsp;</p>

                    </div>

            </div>
        </div>
</section>
 <a href="#" class="scrollup">Scroll</a> 
 <!-- Social Profiles -->
    

<!-- Footer -->
    </div>
