<!-- .header -->        
<style>
h3{
    padding-top:20px;
    padding-bottom:20px;
    }
</style>

        <!-- Page Head -->
    
    <div class="header_page">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Desing & Development</h4>
                    </div>
                    <div class="breadcrumbss">
                        <!--
                        <ul class="page_parents pull-right">
                            <li>You are here: </li>
                            <li><a href="index.html">Home</a>/</li>
                            
                            
                            <li><a href="index74337433.html?page_id=248">Shortcodes </a>/</li>

                                                        <li><a href="indexa814a814.html?page_id=294">Quote</a></li>

                        </ul>
                        -->
                    </div>
                   
                </div>
            </div>
            
    </div> 
     
    
    <section id="content">
        <div class="container" id="page">
            <div class="row">
                    <div class="span3">
                         <ul class="side-nav">
            <li ><a href="#" title="Back to Parent Page" class="cust" style="
background: #009dcd;
font-weight: bold;
color: #fff;
font-size: 14px;
padding: 14px 18px 15px 22px; 
width: 100%;">Desing & Development</a></li>
            
             <li class="page_item page-item-294  "><a href="devlopment.html"> Custom Application Development  <div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            <li class="page_item page-item-296 current_page_item "><a href="custom-app.html">Product Development Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            <li class="page_item page-item-299 "><a href="develop-sass.html">SAAS / PAAS / IAAS Development<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>

            <li class="page_item page-item-364 "><a  href="dev-product.html"> Product Support / Maintenance Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            <li class="page_item page-item-250 "><a href="dev-web-api.html">Web Services / API Development Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
             <li class="page_item page-item-250 "><a href="dev-web-design.html"> Web Design / Development Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
             
               <li class="page_item page-item-250 "><a href="dev-wirframe.html">Wireframe and POC Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
          </ul>
                    </div>

                    <div class="span9">
         <div class="themeple_sc"><div class="header"><h3>Product Development Services</h3><span class="border_style_color"></span></div></div>
<div class="themeple_sc"><div class="themeple_blockquote">
<p>
We have solid experience in working with startups and we feel extremely happy when our clients allow us to participate in requirements analysis phase for new product development. We have years of experience in developing products in multiple domain like social networking, data center automation, banking and finance, dating, ecommerce, CMS based apps, real estate, healthcare applications, vendor management networks, auctions and many more. All our products are built on Ruby on Rails framework. Our product development services cover all aspects of product development from discovery to execution.</p>
<p>
Media Cloud specializes in early validation of your product with minimal investment using methodologies like prototyping, POC and R&D services. We can go ahead and do some market research also to check the acceptance to your new product idea. We tie up with market research firms. Our use of emerging technologies and agile methodologies not only make the product flexible as per market needs but easily acceptable.</p>

</div></div>
<p>&nbsp;</p>

                    </div>

            </div>
        </div>
</section>
 <a href="#" class="scrollup">Scroll</a> 
 <!-- Social Profiles -->
    

<!-- Footer -->
    </div>