<!-- .header -->        
<style>
h3{
  padding-top:20px;
  padding-bottom:20px;
  }
</style>

        <!-- Page Head -->
    
    <div class="header_page">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Our Amazing Products</h4>
                    </div>
                    <div class="breadcrumbss">
                        <!--
                        <ul class="page_parents pull-right">
                            <li>You are here: </li>
                            <li><a href="index.html">Home</a>/</li>
                            
                            
                            <li><a href="index74337433.html?page_id=248">Shortcodes </a>/</li>

                                                        <li><a href="indexa814a814.html?page_id=294">Quote</a></li>

                        </ul>
                        -->
                    </div>
                   
                </div>
            </div>
            
    </div> 
     
    
    <section id="content">
        <div class="container" id="page">
            <div class="row">
                    <%= render :partial => "shared/security" %>

                    <div class="span9">
         <div class="themeple_sc"><div class="header"><h3>STUDY GOSSIP
</h3><span class="border_style_color"></span></div></div>
<div class="themeple_sc"><div class="themeple_blockquote">
<p>
Study gossip is a unique first ever social collaborative platform making learning and sharing fun. Reaching out to those who really want to learn and share. It facilitates communication across all level in educational institutions.</p>
<p>Learning and Sharing using our platform is a quick and efficient way. you can have all your questions answered by friends and teachers, Quickly refer and post your queries to teachers and classmates</p>

<p>The more you share the more you learn is a revolutionary approach making you ahead of others. you earn medals based on quality and quantity of posts and replies you make within your group</p>

<p>See what your classmates are talking about and be a part of the discussion. Take challenges and solve problems. The more you collaborate better you learn and grow. Learn & Share with Fun.</p>


<h3>Refund Policy:</h3>

<p>In case of dissatisfaction from our services, clients have the liberty to cancel their subscription and request a refund from us within defined timelines. Our Policy for the cancellation and refund will be as follows:</p> 
<p>We will try our best to give superior services and products to our clients Though this amount is NON - Refundable as payment is done after the product/service is rendered but still in case any client is not completely satisfied with our services we can provide a refund within 36 hours from the date and time of sale of the Product. The final refunds will be made after deducting the Service Tax and the Hourly charges for the work completed by us. Any refund request raised after 48 hours will be rejected.</p>
<p>If paid by credit card, refunds will be issued to the original credit card provided at the time of purchase and in case of Payment Gateway Name payments refund will be made to the same account.</p>


<h3>Privacy Policy </h3>

<p>The following privacy policy describes the information and privacy practices for Media Cloud services. This privacy policy describes how Media Cloud Services Agents will collect and use your information. All information provided to Media Cloud Services will not be shared with anyone. Media Cloud Services makes sure that your valuable information is not stored anywhere on our machines. Please be advised to only purchase product after satisfaction and review.</p><p>
This privacy policy may not apply to Web sites that are accessible through the Media Cloud Services may contain links to other sites operated by third parties including, but not limited to, third-party sites that display Media Cloud Services trademarks. We encourage you to read the privacy policies of those other sites to learn how they collect, use, and share and secure your information. Also  Media Cloud Services is an individual company selling software products to its clients and is not related to any other company</p>

<h3>Legal Disclaimer</h3>
<p>The information contained in this website is for general information purposes only. The information is provided by <a href="http://mediacloud.co.in" style="color:#238adb">http://mediacloud.co.in</a> and while we endeavor to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>
<p>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arise out of, or in connection with, the use of this website.</p>
<p>Through this website you are able to link to other websites which are not under the control of <a href="http://mediacloud.co.in" style="color:#238adb">http://mediacloud.co.in</a> , we have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.

</p>
<p>Every effort is made to keep the website up and running smoothly. However, <a href="http://mediacloud.co.in" style="color:#238adb">http://mediacloud.co.in</a> takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control. 

</p>
</div></div>
<p>&nbsp;</p>

                    </div>

            </div>
        </div>
</section>
 <a href="#" class="scrollup">Scroll</a> 
 <!-- Social Profiles -->
    

<!-- Footer -->
    </div>