

 <style>
h3{
  padding-top:20px;
  padding-bottom:20px;
  }
</style>

        <!-- Page Head -->
    
    <div class="header_page">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Security Services</h4>
                    </div>
                    <div class="breadcrumbss">
                        <!--
                        <ul class="page_parents pull-right">
                            <li>You are here: </li>
                            <li><a href="index.html">Home</a>/</li>
                            
                            
                            <li><a href="index74337433.html?page_id=248">Shortcodes </a>/</li>

                                                        <li><a href="indexa814a814.html?page_id=294">Quote</a></li>

                        </ul>
                        -->
                    </div>
                   
                </div>
            </div>
            
    </div> 
     
    
    <section id="content">
        <div class="container" id="page">
            <div class="row">
                    <div class="span3">
                         <ul class="side-nav">
            <li ><a href="#" title="Back to Parent Page" class="cust" style="
background: #009dcd;
font-weight: bold;
color: #fff;
font-size: 14px;
padding: 14px 18px 15px 22px; 
width: 100%;">Security Services</a></li>
            
             <li class="page_item page-item-294   "><a href="security.html">Overview  <div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            <li class="page_item page-item-296   "><a href="security-cancel.html">Cancellation & Refund Policy<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            <li class="page_item page-item-299 current_page_item  "><a  href="security-legal.html">Legal Disclaimer<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
             

          
                    </div>

                    <div class="span9">
         <div class="themeple_sc"><div class="header"><h3>Legal Disclaimer</h3><span class="border_style_color"></span></div></div>
<div class="themeple_sc"><div class="themeple_blockquote">
<p>
The information contained in this website is for general information purposes only. This Rising Sun United (rising-sun.com.au) merchant is located in Australia. The Rising Sun United is Rigistered Under Australian Government. The information is provided by rising-sun.com.au and while we endeavor to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>



<p>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arise out of, or in connection with, the use of this website.</p>
<p>Through this website you are able to link to other websites which are not under the control of rising-sun.com.au, we have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.
</p>


<p>Every effort is made to keep the website up and running smoothly. However, rising-sun.com.au takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>


</div></div>
<p>&nbsp;</p>

                    </div>

            </div>
        </div>
</section>
 <a href="#" class="scrollup">Scroll</a> 
 <!-- Social Profiles -->
    

<!-- Footer -->
    </div>