<!-- .header -->        
<style>
h3{
  padding-top:20px;
  padding-bottom:20px;
  }
</style>

        <!-- Page Head -->
    
    <div class="header_page">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Security Services</h4>
                    </div>
                    <div class="breadcrumbss">
                        <!--
                        <ul class="page_parents pull-right">
                            <li>You are here: </li>
                            <li><a href="index.html">Home</a>/</li>
                            
                            
                            <li><a href="index74337433.html?page_id=248">Shortcodes </a>/</li>

                                                        <li><a href="indexa814a814.html?page_id=294">Quote</a></li>

                        </ul>
                        -->
                    </div>
                   
                </div>
            </div>
            
    </div> 
     
    
    <section id="content">
        <div class="container" id="page">
            <div class="row">
                    <%= render :partial => "shared/security" %>

                    <div class="span9">
         <div class="themeple_sc"><div class="header"><h3>Overview</h3><span class="border_style_color"></span></div></div>
<div class="themeple_sc"><div class="themeple_blockquote">
<p>
We build what you need, easy to use by any novice. No configurations required. Lightning fast installation & runs in the back ground in silent mode without any interruption. Light on your system resources, you don't even notice it's running in the background & protecting you. "One chosen solution with high performance cyber threat protection".</p>

<h3>Proactive Approach</h3>

<p>Proactive Prevention from unknown threats (zero-day exploits), which can be prevented and disinfected by MSecure anti virus Code Emulations. The entire process is done without user’s interruption and doesn’t impact on your system performance. In most cases MSecure anti virus can identify and stop a new threat without requiring an update. However, MSecure anti virus automatically checks hourly for updates to signatures and heuristics, providing a solid backup to the proactive detection.</p>

<h3>Remote administrator console</h3>

<p>This is perhaps one of the greatest features that MSecure anti virus offers. It has a very powerful management tool making everything centralized. This is easy-to-use allowing administrators to deploy, manage and maintain systems in various locations. Some of the added features include:</p>
<ul>

<li>Provides you full visibility into user activity no matter where they are in LAN & WAN.</li>
<li>Enforce a different policy for offsite users and onsite users..</li>
<li>Create a security policy once and then deploy it across multiple groups.</li>
<li>Easy-to-use interface.</li>
<li>Easy to create / manage groups and endpoints clients.</li>
<li>Easier deployment of customized settings to per groups / per client.</li>
<li>A single dashboard lets you see endpoint protection status, actions and events.</li>
<li>Easy to create sub-admins &mp assign rights.</li>
<li>Role-based administration allows you to share and delegate responsibility for actions.</li>
<li>Easier control of policies and setting to workstations.</li>
<li>Tracker of threat history and events.</li>
<li>Detailed reporting feature that tackles pre-defined and customizable system reports.</li>
<li>Better and more flexible management of huge networks.</li>
<li>Single Console to manager both antivirus & web-security.</li>
<li>Easy-to-use installation wizard with zero configuration.</li> 
</ul>
</div></div>
<p>&nbsp;</p>

                    </div>

            </div>
        </div>
</section>
 <a href="#" class="scrollup">Scroll</a> 
 <!-- Social Profiles -->
    

<!-- Footer -->
    </div>