     <!-- .header -->        

<style>
h3{
    padding-top:20px;
    padding-bottom:20px;
    }
</style>

        <!-- Page Head -->
    
    <div class="header_page">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Security Services</h4>
                    </div>
                    <div class="breadcrumbss">
                        <!--
                        <ul class="page_parents pull-right">
                            <li>You are here: </li>
                            <li><a href="index.html">Home</a>/</li>
                            
                            
                            <li><a href="index74337433.html?page_id=248">Shortcodes </a>/</li>

                                                        <li><a href="indexa814a814.html?page_id=294">Quote</a></li>

                        </ul>
                        -->
                    </div>
                   
                </div>
            </div>
            
    </div> 
     
    
    <section id="content">
        <div class="container" id="page">
            <div class="row">
                    <%= render :partial => "shared/security" %>
                    <div class="span9">
         <div class="themeple_sc"><div class="header"><h3>Cancellation & Refund Policy</h3><span class="border_style_color"></span></div></div>
<div class="themeple_sc"><div class="themeple_blockquote">
<p>
In case of dissatisfaction from our services, clients have the liberty to cancel their projects and request a refund from us. Our Policy for the cancellation and refund will be as follows:</p>

<h3>Cancellation Policy</h3>

<p>Cancellation of service renewals for on-going website promotion, website hosting or domain registration services must be made at least 7 business days prior to the end of the current service/subscription period. For antivirus solutions we have quarterly , half yearly and yearly subscriptions. Each subscription can be cancelled within a period of 48 hours from the time service has been rendered and we will refund the money. Though the product is sold after discussion with the client and payment is made only after the service is rendered and client is satisfied, we still waits for 48 hours in case clients does not like the product. In such situation we bear the loss as the product is already been installed and the keys are used in client machine for which the antivirus merchant has already been paid and its a non refundable for us also.</p>
<h3>Refund Policy</h3>

<p>We will try our best to give superior services and products to our clients.</p>
<p>In case any client is not completely satisfied with our services we can provide a refund within 48 hours from the date and time of sale of the Project. The final refunds will be made after deducting the Service Tax and the Hourly charges for the work completed by us.</p>
<p>If paid by credit card, refunds will be issued to the original credit card provided at the time of purchase and in case of Payment Gateway Name payments refund will be made to the same account.</p>
<h2>WHY REFUND IS HARD:</h2>

<p>The Product is sold after a detailed call with the client explaining him the pros and cons of the antivirus solution that fits for him and then the client downloads the solution from merchant website and we provide him the key through email address to activate the product so that he can use all the features of the product and secure his computer or mobile phone. once the client is satisfied then only we give him a link to make a payment from him own machine and send us a satisfaction and authorization email. if the client raises chargeback after 48 hours Media cloud has to bear the cost as the activation keys are already used and the payment has been made to the antivirus merchant which is non refundable.</p>

</div></div>
<p>&nbsp;</p>

                    </div>

            </div>
        </div>
</section>
 <a href="#" class="scrollup">Scroll</a> 
 <!-- Social Profiles -->
    

<!-- Footer -->
    </div>
