<span class="slider-img"></span>

  <section id="slider-fullwidth"  class="slider">

    <script type="text/javascript" src="/assets/content/plugins/LayerSlider/js/layerslider.kreaturamedia.jqueryf39e.js?ver=4.0.1"></script>
    <script type="text/javascript" src="/assets/content/plugins/LayerSlider/js/jquery-easing-1.36f3e.js?ver=1.3.0"></script>
    <script type="text/javascript" src="/assets/content/plugins/LayerSlider/js/jquerytransite2dc.js?ver=0.9.9"></script>
    <script type="text/javascript">
      var lsjQuery = jQuery.noConflict();
      lsjQuery(document).ready(function() {
        if(typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('jquery'); }
        else if(typeof jQuery.transit == "undefined" || typeof jQuery.transit.modifiedForLayerSlider == "undefined") { lsShowNotice('transit'); }
        else {
          lsjQuery("#layerslider_8").layerSlider({
            width : '100%',
            height : '250px',
            responsive : true,
            responsiveUnder : 1100,
            sublayerContainer : 1100,
            autoStart : true,
            pauseOnHover : true,
            firstLayer : 1,
            animateFirstLayer : true,
            randomSlideshow : false,
            twoWaySlideshow : true,
            loops : 0,
            forceLoopNum : true,
            autoPlayVideos : true,
            autoPauseSlideshow : 'auto',
            youtubePreview : 'maxresdefault.jpg',
            keybNav : true,
            touchNav : true,
            skin : 'defaultskin',
            skinsPath : '/assets/content/plugins/LayerSlider/skins/',
            globalBGColor : 'transparent',
            navPrevNext : false,
            navStartStop : false,
            navButtons : false,
            hoverPrevNext : false,
            hoverBottomNav : false,
            thumbnailNavigation : 'hover',
            tnWidth : 100,
            tnHeight : 60,
            tnContainerWidth : '60%',
            tnActiveOpacity : 35,
            tnInactiveOpacity : 100,
            imgPreload : true,
            yourLogo : false,
            yourLogoStyle : 'left: 10px; top: 10px;',
            yourLogoLink : false,
            yourLogoTarget : '_self',
            cbInit : function(element) { },
            cbStart : function(data) { },
            cbStop : function(data) { },
            cbPause : function(data) { },
            cbAnimStart : function(data) { },
            cbAnimStop : function(data) { },
            cbPrev : function(data) { },
            cbNext : function(data) { }
          });
}
});
</script><div id="layerslider_8" class="ls-wp-container" style="width: 100%; height: 250px; margin: 0px auto; "><div class="ls-layer"  style="slidedirection: right; slidedelay: 2000; durationin: 1500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0; "><img class="ls-s-1"  src="/assets/content/images/all/09/ban12.png"  style="position: absolute; top: -23px; left: -429px; slidedirection : fade; slideoutdirection : fade;  durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0; "><img class="ls-s-1"  src="/assets/content/images/all/09/mobiletext4444.png"  style="position: absolute; top: 82px; left: 43px; slidedirection : left; slideoutdirection : left;  durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 600; delayout : 0; showuntil : 0; "><img class="ls-s-1"  src="/assets/content/images/all/09/iphone-mockup-white1111.png"  style="position: absolute; top: -59px; left: 597px; slidedirection : right; slideoutdirection : right;  durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 300; delayout : 0; showuntil : 0; "></div>
<!--
<div class="ls-layer"  style="slidedirection: right; slidedelay: 2000; durationin: 1500; durationout: 1500; easingin: easeInOutQuint; easingout: easeInOutQuint; delayin: 0; delayout: 0; "><img class="ls-s-1"  src="/assets/content/images/all/09/photo2.png"  style="position: absolute; top: -38px; left: -491px; slidedirection : fade; slideoutdirection : fade;  durationin : 1000; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 0; delayout : 0; showuntil : 0; "><img class="ls-s-1"  src="/assets/content/images/all/09/the7-ipad1.png"  style="position: absolute; top: -65px; left: 501px;    durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 500; delayout : 0; showuntil : 0; "><img class="ls-s-1"  src="/assets/content/images/all/09/service.png"  style="position: absolute; top: 60px; left: 19px; slidedirection : bottom; slideoutdirection : bottom;  durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 400; delayout : 0; showuntil : 0; "><img class="ls-s-1"  src="/assets/content/images/all/09/please.png"  style="position: absolute; top: 136px; left: 19px; slidedirection : bottom; slideoutdirection : bottom;  durationin : 1500; durationout : 1500; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 700; delayout : 0; showuntil : 0; "></div>--></div>


</section>



<!-- .header -->        


<section id="content" class="page-dynamic_template-serv2 sequentialchildren  section_last">
  <div class="row-fluid">


   <div class="span12">

    <div class="row-fluid row-dynamic-el " style="">

      <div class="container">

        <div class="row-fluid">

          <div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="no_circle"><i class="moon-tablet icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">Responsive Design</a></h4></dd><p>Let your application be supported on all devices.</p></dl></div>

          <div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="no_circle"><i class="moon-file-4 icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">Ruby On Rails</a></h4></dd><p>Get your application developed in most promising technology with best ROI</p></dl></div>

          <div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="no_circle"><i class=" moon-facebook-2 icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">Social Media Friendly</a></h4></dd><p>Developing social media friendly apps for greater audience.</p></dl></div>

        </div>

      </div>

    </div>

    <div class="row-fluid row-dynamic-el " style="">

      <div class="container">

        <div class="row-fluid">

          <div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="no_circle"><i class=" moon-link-4 icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">Rest API</a></h4></dd><p>API development services for better exposure from mobile apps.</p></dl></div>

          <div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="no_circle"><i class=" moon-cogs icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">Test Automation</a></h4></dd><p>Automate your testing with BAMBOO and JENKINS.</p></dl></div>

          <div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="no_circle"><i class=" moon-checkbox-checked-2   icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">Best Practices</a></h4></dd><p>Implementing AGILE / SCRUM approaches with best development practices.</p></dl></div>

        </div>

      </div>

    </div>
     <div class="row-fluid row-dynamic-el " style="">

      <div class="container">

        <div class="row-fluid">

          <div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="no_circle"><i class="moon-user icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">TDD and BDD</a></h4></dd><p>Make the full use of Behavior and Test driven development.</p></dl></div>

          <div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="no_circle"><i class=" moon-cloud-3  icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">Cloud Services</a></h4></dd><p>Get your apps deployed on cloud on pay as you go model</p></dl></div>

          <div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="no_circle"><i class=" moon-users-4 icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">Security Services</a></h4></dd><p>Light on your system resources, you don't even notice it's running in the background & protecting you. "One chosen solution with high performance cyber threat protection".</p></dl></div>

        </div>

      </div>

    </div>

    <div class="row-fluid row-dynamic-el " style="">

      <div class="container">

        <div class="row-fluid">

          <div class="span6 post_page_cont"><div class="header"><dl class="dl-horizontal"><dt><i class="moon-forward"></i></dt><dd style="margin-left:55px !important; margin-top:10px;"><h4>Why Choose Us ?</h4></dd></dl></div><p>Here are some Design and development work we are doing and  <span style="color:#009dcd; font-weight:bold; font-size:inherit;">Public Cloud services</span> can be accessed easily<br />
          <ul class="default_list"><br />
            <li>Custom Application Development</li><br />
            <li>Product Development Series</li><br />
            <li>SAAS / PASS / IAAS Development</li><br />
            <li>Web Design / Development Services</li><br />
            <li> Cloud Architecture and Design Services</li><br />
             <li> Security Services</li><br />
          </ul></p>
        </div>

        <div class="span6"><div class="header"><dl class="dl-horizontal"><dt><i class="moon-align-left"></i></dt><dd style="margin-left:55px !important; margin-top:10px;"><h4>Development Steps</h4></dd></dl></div><div class="accordion " id="accordion1849280684"><div class="accordion-group"><div class="accordion-heading in_head"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1849280684" href="#toggle12422">Responsive Designs</a></div><div id="toggle12422" class="accordion-body in collapse "><div class="accordion-inner">Now are the days of Hybrid designs or you can also call them responsive designs where you cater to a larger audience trying to view your app on different devices, we make sure they are not disappointed.</div></div></div><div class="accordion-group"><div class="accordion-heading "><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1849280684" href="#toggle32435">Ruby On Rails Development</a></div><div id="toggle32435" class="accordion-body  collapse "><div class="accordion-inner">Get your apps developed and migrated to ruby on rails and experience the best of the Ruby on Rails development services by our experienced professionals. We will also help you get them on cloud for you.</div></div></div><div class="accordion-group"><div class="accordion-heading "><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1849280684" href="#toggle2498">Cloud Deployment and Migrations </a></div><div id="toggle2498" class="accordion-body  collapse "><div class="accordion-inner">You can trust us for any migration of data and application from one cloud to another or deploying your Ruby on Rails app on any of the cloud servers like AWS, EY, Heroku, Rackspace etc. </div></div></div></div></div>

      </div>

    </div>

  </div>

  <div class="row-fluid row-dynamic-el " style="">

    <div class="container">

      <div class="row-fluid">

        <div class="divider__"></div>

      </div>

    </div>

  </div>

  <div class="row-fluid row-dynamic-el " style="">

    <div class="container">

      <div class="row-fluid">

        <div class="span3 chart_skill animate_onoffset"><div class="chart" data-percent="92%">92</div><span class="new_color">#009dcd</span><h4>Design</h4><p>The latest innovations and acceptance of new technologies have forced the web developers to design a web site ....</p></div>

        <div class="span3 chart_skill animate_onoffset"><div class="chart" data-percent="95%">89</div><span class="new_color">#009dcd</span><h4>Development</h4><p>We services are most important part of any application now a days and we specialize in web services and API development services  ....</p></div>

        <div class="span3 chart_skill animate_onoffset"><div class="chart" data-percent="90%">90</div><span class="new_color">#009dcd</span><h4>Cloud</h4><p>We follow Model Driven Architecture and Design Method . We take all Business ....</p></div>

        <div class="span3 chart_skill animate_onoffset"><div class="chart" data-percent="91%">86</div><span class="new_color">#009dcd</span><h4>Security</h4><p> Light on your system resources, you don't even notice it's running in the background &  ....</p></div>

      </div>

    </div>

  </div>
<!--
  <div class="row-fluid row-dynamic-el " style="">

    <div class="container">

      <div class="row-fluid">

        <div class="span12"><div class="header"><dl class="dl-horizontal"><dt><i class="moon-user"></i></dt><dd style="margin-left:55px !important; margin-top:10px;"><h4>Our Clients</h4><div class="pagination"><a href="#" class="prev" title="Previous"><i class="moon-arrow-left"></i></a><a href="#" class="next" title="Next"><i class="moon-arrow-right-2"></i></a></div></dd></dl>
      </div><section class="row-fluid clients">                    <div class="item">
      <a href="#">
        <img src="/assets/content/images/all/07/clogo5-140x60.png" alt="">

      </a>
    </div>                    <div class="item">
    <a href="http://">
      <img src="/assets/content/images/all/07/clogo44-107x60.png" alt="">

    </a>
  </div>                    <div class="item">
  <a href="http://">
    <img src="/assets/content/images/all/07/clogo33-61x60.png" alt="">

  </a>
</div>                    <div class="item">
<a href="#">
  <img src="/assets/content/images/all/07/clogo66-132x60.png" alt="">

</a>
</div>                    <div class="item">
<a href="#">
  <img src="/assets/content/images/all/07/clogo5-140x60.png" alt="">

</a>
</div>                    <div class="item">
<a href="#">
  <img src="/assets/content/images/all/07/clogo66-132x60.png" alt="">

</a>
</div>                    <div class="item">
<a href="#">
  <img src="/assets/content/images/all/07/clogo5-140x60.png" alt="">

</a>
</div></section></div>

</div>

</div>

</div>                
</div>

</div>
</section>-->
<a href="#" class="scrollup">Scroll</a> 
<!-- Social Profiles -->


<!-- Footer -->
</div>