<style>
h3{
    padding-top:20px;
    padding-bottom:20px;
    }
</style>

        <!-- Page Head -->
    
    <div class="header_page">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Security Services</h4>
                    </div>
                    <div class="breadcrumbss">
                        <!--
                        <ul class="page_parents pull-right">
                            <li>You are here: </li>
                            <li><a href="index.html">Home</a>/</li>
                            
                            
                            <li><a href="index74337433.html?page_id=248">Shortcodes </a>/</li>

                                                        <li><a href="indexa814a814.html?page_id=294">Quote</a></li>

                        </ul>
                        -->
                    </div>
                   
                </div>
            </div>
            
    </div> 
     
    
    <section id="content">
        <div class="container" id="page">
            <div class="row">
                    <%= render :partial => "shared/security" %>

                    <div class="span9">
         <div class="themeple_sc"><div class="header"><h3>Shipping</h3><span class="border_style_color"></span></div></div>
<div class="themeple_sc"><div class="themeple_blockquote">
<p>
The products are digitally delivered to client email address. Digital distribution (also called content delivery, online distribution, or electronic software distribution (ESD), among others) is the delivery or distribution of content  The term is generally used to describe distribution over an online delivery medium, such as the Internet, thus bypassing physical distribution methods, such as paper, compact discs, and DVDs. The customer download the antivirus from the provider/merchant website and we will send an email which will contain the activation key which will be used to activate the antivirus solution. There will be no physical delivery done for any product. The payment will be made by client from his machine on our integrated payment gateway solution once he is satisfied with the performance of the solution he has got.There will be no download happening from mediacloud website.</p>

</div></div>
<p>&nbsp;</p>

                    </div>

            </div>
        </div>
</section>
 <a href="#" class="scrollup">Scroll</a> 
 <!-- Social Profiles -->
    

<!-- Footer -->
    </div>
