<style>
h3{
    padding-top:20px;
    padding-bottom:20px;
    }
</style>

        <!-- Page Head -->
    
    <div class="header_page">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Security Services</h4>
                    </div>
                    <div class="breadcrumbss">
                        <!--
                        <ul class="page_parents pull-right">
                            <li>You are here: </li>
                            <li><a href="index.html">Home</a>/</li>
                            
                            
                            <li><a href="index74337433.html?page_id=248">Shortcodes </a>/</li>

                                                        <li><a href="indexa814a814.html?page_id=294">Quote</a></li>

                        </ul>
                        -->
                    </div>
                   
                </div>
            </div>
            
    </div> 
     
    
    <section id="content">
        <div class="container" id="page">
            <div class="row">
                    <%= render :partial => "shared/security" %>

                    <div class="span9">
         <div class="themeple_sc"><div class="header"><h3>Terms and Conditions</h3><span class="border_style_color"></span></div></div>
<div class="themeple_sc"><div class="themeple_blockquote">
<p>Media Cloud (www.mediacloud.co.in) provides Products, Website Development, manpower Services and security services (sale of antivirus solutions) (collectively, hereinafter referred to as "Services") subject to any customer's or buyer's (hereafter referred to as "Client") acceptance of and compliance with the Terms and Conditions (hereinafter referred to as "Terms") and the terms and conditions of the Service Level Assurance Agreement (hereafter referred to as "SLA") outlined below:</p>
<h3>Terms</h3>

<p>The Terms of the Agreement will commence on the date on which the Client enrolls for our Services and will end when anyone of the parties terminate it.
Description of Service:</p>

<p>Media Cloud (www.mediacloud.co.in) may provide the Client with one or more of the following Services depending on the service package that the Client selects: Software Development, antivirus solution, Business website, Business-related website pages, Search Engine Marketing, Search Engine Optimization, Third party Content, Storage space, Domain-based e-mail Services, Website hosting, or maintenance and support Services. Unless explicitly stated otherwise, any new feature that augments or enhances the Services shall be considered to be part of the Services.</p>
<p>Media Cloud (www.mediacloud.co.in) reserves the right to modify, suspend or discontinue the Services (or any part thereof), if there is non-cooperation, nonpayment, or unwanted delay on the part of the client, at any time, without notice. Client expressly agrees that Client, or any related third party, shall not hold Media Cloud (www.mediacloud.co.in) or its suppliers liable for any losses, damages or consequences whatsoever for such modification, suspension or discontinuation of the Services.</p>
<h3>Access to Information:</h3>

<p>For purposes of the Agreement, all web pages that are owned, operated or hosted by, or on behalf of, Media Cloud (www.mediacloud.co.in), are herein referred to as the "Websites".</p>

<p>To access the Services or "Websites" of Media Cloud (www.mediacloud.co.in), the Client may be asked to provide certain registration details or other information that must be correct, current, and complete in all respects. If at any stage, Media Cloud (www.mediacloud.co.in) has reasons to believe that the information provided by the Client is not correct, current, or complete,Media Cloud (www.mediacloud.co.in) shall have the right to refuse the Client any access to the Websites or Services of them.</p>
<h3>Payment for Services or Products:</h3>

<p>The Client agrees to pay Media Cloud (www.mediacloud.co.in) the service fee, for any Program or Service that the Client may enrolls in, in pursuance to the terms of the Payment Plan the Client selects. The client shall pay, the taxes, if any, levied on him in addition to the payment plan.</p>

<p>The Client expressly understands, acknowledges and hereby authorizes Media Cloud (www.mediacloud.co.in) to charge the Credit Card of the Client or to Debit Client's Bank account as per the agreed Payment Plan of the particular Services/Websites the client selects.</p>

<p>The Client shall pay an upfront fee (advance fee) as per the Payment Plan along with the order for the particular Services/Websites the client selects and agrees with the Service Provider (Media Cloud (www.mediacloud.co.in)). The details and invoice for it will be emailed to the client no later than 48 working hours by the Service Provider.</p>

<p>Media Cloud (www.mediacloud.co.in) also reserves the right to resort to means of Debt Collection Services etc if the case so arises for collection of Past Due Payments and customer shall be liable for all collection costs, including attorneys' fees etc. If the client does not respond for 7 days without any notification we are entitled to charge the due amount to the customer and the amount would not be refunded.</p>

<p>In the interests of security and to safeguard both parties from payment frauds, Dine-Media (www.dine-media.com) may request for documents if applicable, to ensure that the client is the cardholder and authorized to make the payment on behalf of the business or individual. The client agrees to submit these documents as and when requested. These are required by law, in accordance with the security compliance procedures of Dine-Media Interactive (www.dine-media.com) and its suppliers. These may be in the form of:</p>
<ul>
    <li>A signed copy of the Task Order</li>
    <li>A copy of the FRONT SIDE ONLY of your Credit or Debit Card</li>
</ul>
    An ID proof in the form of:   
   <ul>
    <li>A Driving License</li>
    <li>A National ID card</li>
    <li>Any Photo ID issued by the government of Client's respective country.</li>
    </ul>
    The name appearing on the statement would be Media-Cloud
<h3>Payments for Renewals of the Website, Domain, Hosting, Server Space and other subscriptions.</h3>

<p>Media Cloud (www.mediacloud.co.in) will send an email 3 month prior to expiry of Website, Domain, Hosting, Server Space and other relevant subscriptions to the client, informing about the due date of renewal.</p>

<p>No sooner than 60 (Sixty) days prior to expiry, Dine-Media Interactive (www.dine-media.com) will attempt to contact Client who had not renewed their relevant subscriptions on the first notice. Client will be requested to renew at this stage.</p>

<p>No later than 40 (Forty) days prior to expiry, Dine-Media Interactive (www.dine-media.com) will put the status "Website under maintenance" for customers who are still not contactable. If still unsuccessful, Dine-Media (www.dine-media.com) will notify its suppliers of the same in time and request to cancel the domain on expiry.</p>

<p>All customers must be informed at Acquisition of the renewal charges.</p>
<h3>Receivables Policy:</h3>

<p>As Media Cloud (www.mediacloud.co.in) provides a bill-through service, the company takes a significant credit risk for each and every Client. Therefore, Client is responsible to maintain an active and valid payment method on file at all times.</p>

<p>If for any reason, Client's payment method is not available, Media Cloud (www.mediacloud.co.in) reserves the right to immediately and temporarily turn off the website, pay-per-click ads, sponsored listings and ongoing or then current production, reporting, or support Services being provided to account.</p>

<p>If the payment is not received, Media Cloud (www.mediacloud.co.in) reserves the right to terminate the Agreement in full and retain ownership of the website, domain name, or other Services until such time the account has been paid in full.</p>

<p>All Term Commitment Terminations will result in an escalation of all fees owed under the Terms of the Agreement. Many Clients maintain multiple forms of payment on file to prevent this from occurring.</p>
<h3>Representations and Warranties:</h3>

<p><b>Client represents warrants and covenants that:</b> Client has sufficient authority to enter into the Agreement</p>

<p>Client is a business, and that Client's use of Media Cloud (www.mediacloud.co.in) Services is solely for lawful commercial and business purposes</p>

<p><b>Client has the necessary rights to provide all information provided under the Agreement for use as described in the Agreement, and that all such information and all claims, statements, products and Services contained or referenced therein and in the website to which it links:</b></p>

<p>Do not violate any law, statute, ordinance, treaty or regulation or Media Cloud (www.mediacloud.co.in) policy or guideline<p>

<p>Do not infringe any copyright, patent, trademark, trade secret or other intellectual property right of any third party</p>

<p>Do not breach any duty toward or rights of any person or entity including rights of publicity or privacy, and have not otherwise resulted in or are not likely to result in any consumer fraud, product liability, tort, breach of contract, injury, damage or harm of any kind to any person or entity</p>

<p>Are not false, deceptive or misleading</p>

<p>Are not defamatory, libelous, slanderous or threatening</p>

<p>Will be free of viruses, Trojan horses, trap doors, back doors, Easter eggs, worms, time bombs, cancel bots or other computer programming routines that may potentially damage, interfere with intercept, or expropriate any system data or personal information;</p>
<h3>Comply with the applicable Program Terms:</h3>

<p>Comply with all laws regarding unsolicited electronic messages (including without limitation, the CAN-SPAM Act of 2003 and Client will not engage in any form of spamming or other impermissible marketing activities through any Media Cloud (www.mediacloud.co.in) Program.</p>
<h3>Indemnification:</h3>

<p>Client will indemnify and hold Media Cloud (www.mediacloud.co.in), its subsidiaries, affiliates, content providers, service providers, employees, agents, officers, directors, and contractors (the "Indemnified Parties") harmless from any breach of these Terms and Conditions or the applicable Program Terms by Client, including any use of content and third-party content developed by Media Cloud (www.mediacloud.co.in) other than as expressly authorized in these Master Terms and Conditions.</p>

<p>Client agrees that the Indemnified Parties will have no liability in connection with any such breach or unauthorized use, and Client agrees to indemnify any and all resulting loss, damages, judgments, awards, costs, expenses, and attorneys' fees of the Indemnified Parties in connection therewith. Client will also indemnify and hold the Indemnified Parties harmless from and against any claims brought by third parties arising out of Client's use of the information accessed from Media Cloud (www.mediacloud.co.in).</p>

<h3>Trademarks:</h3>

<p>Trademarks, Service-marks, and Logos appearing on this site are the property of Media Cloud (www.mediacloud.co.in) or the party that provided the trademarks, service marks, and logos to Media Cloud (www.mediacloud.co.in). Media Cloud (www.mediacloud.co.in) and any party that provided trademarks, service marks, and logos to Media Cloud (www.mediacloud.co.in) retain all rights with respect to any of their respective trademarks, service marks, and logos appearing in this site.
</p>
<h3>Security:</h3>

<p>Any passwords used for this site are for individual use only. Client will be responsible for the security of Client's password (if any). Media Cloud (www.mediacloud.co.in) will be entitled to monitor Client's password and, at its discretion, require Client to change it. If Client uses a password that Dine-Media Managment Services Pvt. Ltd.  (www.mediacloud.co.in) considers insecure, Media Cloud (www.mediacloud.co.in) will be entitled to require the password to be changed and/or terminate Client's account.</p>

<p>Client will notify Media Cloud (www.mediacloud.co.in) immediately if Client believes that the security of Client's account has been compromised. Media Cloud (www.mediacloud.co.in) AND ITS SUPPLIERS SHALL NOT BE LIABLE FOR LOSSES OR DAMAGES RESULTING FROM ANY SECURITY BREACHES.</p>

<p>Client is prohibited from using any Services or facilities provided in connection with Media Cloud (www.mediacloud.co.in) to compromise security or tamper with system resources and/or accounts. The use or distribution of tools designed for compromising security (e.g., password guessing Services, cracking tools or network probing tools) is strictly prohibited. If Client becomes involved in any violation of system security.</p>

<p>Media Cloud (www.mediacloud.co.in) reserves the right to release Client's details to system administrators at other sites in order to assist them in resolving security incidents. Media Cloud (www.mediacloud.co.in) reserves the right to investigate detected violations of these Master Terms and Conditions.</p>

<p>Media Cloud (www.mediacloud.co.in) reserves the right to fully cooperate with any law enforcement authorities or court order requesting or directing Media Cloud (www.mediacloud.co.in) to disclose the identity of anyone posting any e-mail messages, or publishing or otherwise making available any materials that are believed to violate these Terms and Conditions.</p>

<p>BY ACCEPTING THIS AGREEMENT CLIENT WAIVE AND HOLD HARMLESS Media Cloud (www.mediacloud.co.in) FROM ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY Media Cloud (www.mediacloud.co.in) DURING OR AS A RESULT OF ITS INVESTIGATIONS AND/OR FROM ANY ACTIONS TAKEN AS A CONSEQUENCE OF INVESTIGATIONS BY EITHER Media Cloud (www.mediacloud.co.in) OR LAW ENFORCEMENT AUTHORITIES.</p>
<h3>Proprietary Information:</h3>
<p>The material and content accessible from this site, and any other World Wide Website owned, operated, licensed, or controlled by Media Cloud (www.mediacloud.co.in) (the "Content") is the proprietary information of Media Cloud (www.mediacloud.co.in)</p>

<p>or the party that provided the Content to Media Cloud (www.mediacloud.co.in) retains all right, title, and interest in the Content.</p>

<p>The Content may not be copied, distributed, republished, uploaded, posted, or transmitted in any way without the prior written consent of Media Cloud (www.mediacloud.co.in), except that Client may print out a copy of the Content solely for Client's internal use.</p>

<p>Client may not remove or alter, or cause to be removed or altered, any copyright, trademark, trade name, service mark, or any other proprietary notice or legend appearing on any of the Content. Modification or use of the Content except as expressly provided in these Terms and Conditions is prohibited. Neither title nor intellectual property rights are transferred to Client by access to the Services or Media Cloud (www.mediacloud.co.in) Websites.</p>

<h3>Client is expressly prohibited, directly or indirectly through any third party, from any of the following:</h3>
<ul>
	<li>Copying, modifying, creating a derivative work of, reverse engineering, reverse assembling or otherwise attempting to discover the source code of any software pertaining to the Services or Media Cloud (www.mediacloud.co.in) Websites
   </li>
	<li>Renting, leasing, selling, assigning, transferring, sublicensing, re-licensing, granting a security interest in, or gaining unauthorized access to the Services or Media Cloud (www.mediacloud.co.in) Websites.</li>
	<li>Accessing the Services or Media Cloud (www.mediacloud.co.in) Websites by any means other than through the interface that is provided by Media Cloud  (www.mediacloud.co.in) for use in accessing the Services or Media Cloud (www.mediacloud.co.in)) Websites.</li>
</ul>
<p>Media Cloud (www.mediacloud.co.in) suppliers are the exclusive owners of all right, title and interest in and to the Services or Media Cloud (www.mediacloud.co.in) Websites along with any and all related intellectual property rights including, without limitation, all associated rights under the laws of copyright (including derivative works), trademarks and patent. Nothing in this Agreement shall be deemed to limit or restrict Media Cloud (www.mediacloud.co.in) suppliers from providing its Services, Media Cloud (www.mediacloud.co.in) Websites or technology to any third party for any purpose whatsoever, or in any way affect the rights granted to such other third parties. The use of any of the Services or Media Cloud (www.mediacloud.co.in) Websites shall in no way be construed by any user as granting or conferring upon them any intellectual property rights whatsoever.</p>
<h3>External Sites:</h3>

<p>This site may be hyper-linked to other external sites that are not maintained by, or related to, Media Cloud (www.mediacloud.co.in) Hyper-links to such sites are provided as a service to users and are not sponsored by or affiliated with this site or Media Cloud (www.mediacloud.co.in). Media Cloud (www.mediacloud.co.in) has not reviewed any or all of such sites and is not responsible for the content of those sites. Hyper-links are to be accessed at Client's own risk, and Media Cloud (www.mediacloud.co.in) makes no representations or warranties about the content, completeness or accuracy of these hyper-links or the sites hyper-linked to this site. Further, the inclusion of any hyper-link to a third-party site does not necessarily imply endorsement by Media Cloud (www.mediacloud.co.in) of that site.
Client acknowledges and agrees that neither Media Cloud (www.mediacloud.co.in) nor any third party that provides Content to Media Cloud (www.mediacloud.co.in) will assume or have any liability for any action or inaction Media Cloud (www.mediacloud.co.in) or such third party with respect to any submission.</p>

<p>Submissions: Client hereby grants to Media Cloud (www.mediacloud.co.in) the royalty-free, perpetual, irrevocable, worldwide, non-exclusive right and license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform, and display all content, remarks, suggestions, ideas, graphics, or other information communicated to Media Cloud (www.mediacloud.co.in) through this site (together, the "Submission"), and to incorporate any Submission in other works in any form, media, or technology now known or later developed.</p>

<p>Media Cloud (www.mediacloud.co.in) will not be required to treat any Submission as confidential, and may use any Submission in its business (including without limitation, for products or advertising) without incurring any liability for royalties or any other consideration of any kind, and will not incur any liability as a result of any similarities that may appear in future Media Cloud (www.mediacloud.co.in) operations.</p>

<p>Media Cloud (www.mediacloud.co.in) and its suppliers do not claim ownership rights in any Content that Client owns, or are owned by a third party, and that Client has provided for inclusion in the Services and/or incorporation onto Client's website. Accordingly, Client is solely responsible for ensuring that said Content does not violate any of Media Cloud (www.mediacloud.co.in) policies or rig or any rd party's rights.</p>

<p>Media Cloud (www.mediacloud.co.in) will treat any personal information that Client submits through this in accordance with its Privacy Policy.</p>
<h3>Communication from Media Cloud (www.mediacloud.co.in):</h3>

<p>Client agrees to receive all communications from Dine-Media (www.dine-media.com), whether via telephone, facsimile, or e-mail, and expressly agree not to consider any such communication(s) as unsolicited. Refusal to receive such communications from Media Cloud (www.mediacloud.co.in) will constitute grounds for termination of this Agreement and deactivation of Client's Website.
Termination for Cause:</p>

<p>Media Cloud (www.mediacloud.co.in) and its suppliers reserve the right to immediately terminate this Agreement and deactivate Client's account and access to Services Media Cloud (www.mediacloud.co.in)
Websites if they believe, in their sole and absolute discretion, that Client has:</p>

<p>Violated, or threaten to violate, the terms of this Agreement; or</p>

<p>Created, or are creating, websites as a nuisance or in a deliberate attempt to degrade or otherwise interfere with the Services or Media Cloud (www.mediacloud.co.in) Websites.</p>

<p>Any user who is terminated for cause under this section hereby agrees to forfeit any and all rights, claims and/or causes of action against Dine-Media (www.dine-media.com) and its suppliers, including without limitation Client's rights to any refunds or for any losses, expenses, damages or costs incurred as a result of such termination and deactivation.
Site Ownership:</p>

<p>Copyright, code structure, processes, imagery, and intellectual property related to the finished website produced by v will be owned by Media Cloud (www.mediacloud.co.in). Transfer requests must be initiated by the Client to the dedicated Media Cloud (www.mediacloud.co.in) Project Coordinator in writing. Rights to photos, graphics, source code, work- up files, and computer Services are specifically not transferred to the Client, and remain the property of Media Cloud (www.mediacloud.co.in)</p>

<p>retains the right to display graphics and other Web design elements as examples of their work in their respective portfolios. The website(s) may contain a copyright/legal statement with a link to Media Cloud (www.mediacloud.co.in) Services and corporate website. Client assumes all liability for licensing the proper technology, and imagery, for the site to operate properly outside of Media Cloud (www.mediacloud.co.in) hosting environment. If Client desires to transfer the site to another hosting platform, Dine-Media (www.dine-media.com) reserves the right to charge a one time ownership transfer fee, which includes all supporting code, fonts, imagery, etc.</p>
<h3>Force Majeure:</h3>

<p>Media Cloud (www.mediacloud.co.in) shall not be liable or deemed to be in default under this Agreement for any delay or failure to perform resulting from (a) accidents, fire, labor disputes, epidemics, war, terrorist acts, riots, insurrections, power blackouts, acts of nature or causes beyond its reasonable control without its fault or negligence, (b) acts or omissions of the other Party or of a third Party (other than the non- performing Party's own agents or contractors), or (c) compliance with any law, regulation, ruling, order or requirement of any federal, state or municipal government or agency or court of competent jurisdiction ('Force Majeure Condition').</p>
Data Limitations:

<p>Media Cloud (www.mediacloud.co.in) will impose the following data limitations on email and bandwidth provided by Dine-Media (www.dine-media.com) through its products and Services offering.</p>
<h3>Limitations of Liability:</h3>

<p>CLIENT EXPRESSLY UNDERSTANDS AND AGREES THAT Media Cloud (www.mediacloud.co.in)) AND ITS OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS SHALL NOT BE LIABLE TO CLIENT FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF Media Cloud (www.mediacloud.co.in) HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: THE USE OR THE INABILITY TO USE THE SERVICE THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE UNAUTHORIZED ACCESS TO OR ALTERATION OF CLIENT'S TRANSMISSIONS OR DATA STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; OR ANY OTHER MATTER RELATING TO THE SERVICE.</p>
<h3>Credit card Protection Policy</h3>

<p>We carry out all the credit card transaction in a secure environment called SSL (Secure Sockets Layer). SSL is the standard security technology for establishing an encrypted link between a BANK web server and a browser. This link ensures that all data passed between the BANK web server and browsers remain private and integral. SSL is an industry standard and is used by millions of websites in the protection of their online transactions with their customers.</p>
<h3>Personal Information Collection Policy</h3>

<p>With the exception of credit card info, we store the information from your order form to allow us to track consulting issues or refer to a previous order to help provide some customer service. However, we do not store any type of credit card information of our customers.</p>
<h3>Statement of Principles</h3>

<p>As described in detail below, any information we gather at this web site is strictly for our use and is not shared with any other entity, public or private, for any reason - period. We will not sell or give away any lists or other data that we may retain and we do not purchase such information from other sources.</p>
<h3>Statistical Data</h3>

<p>Our servers (as most) track IP addresses and referring contact details to help with site maintenance and improvements. This data is viewed only as anonymous statistics to show the busiest times of the day or week, pages with errors and how effective our advertising has been and the further contact to the customer or for shipment of physical product.This information is not used for any other purpose.</p>

IMPORTANT ANNOUNCEMENT:
MEDIA-CLOUD IS AN INDEPENDENT COMPANY PROVIDING DIFFERENT SERVICES TO ITS CLIENTS AROUND THE GLOBE AND IS NOT ASSOCIATED WITH ANY OTHER COMPANIES LIKE MICROSOFT, DELL, HEP, YAHOO, GOOGLE ETC. PLEASE REPORT IF YOU ARE MIS-COMMUNICATED AND WE WILL TAKE AN ACTION IMMEDIATELY. 

</div></div></div>
<p>&nbsp;</p>

                    </div>

            </div>
        </div>
</section>
 <a href="#" class="scrollup">Scroll</a> 
 <!-- Social Profiles -->
    

<!-- Footer -->
    </div>
