<!-- .header -->        
<style>
h3{
    padding-top:20px;
    padding-bottom:20px;
    }
</style>
        <!-- Page Head -->
    
    <div class="header_page">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Desing & Development</h4>
                    </div>
                    <div class="breadcrumbss">
                        <!--
                        <ul class="page_parents pull-right">
                            <li>You are here: </li>
                            <li><a href="index.html">Home</a>/</li>
                            
                            
                            <li><a href="index74337433.html?page_id=248">Shortcodes </a>/</li>

                                                        <li><a href="indexa814a814.html?page_id=294">Quote</a></li>

                        </ul>
                        -->
                    </div>
                   
                </div>
            </div>
            
    </div> 
     
    
    <section id="content">
        <div class="container" id="page">
            <div class="row">
                    <%= render :partial => "shared/design_and_development" %>

                    <div class="span9">
         <div class="themeple_sc"><div class="header"><h3>Web Design / Development Services</h3><span class="border_style_color"></span></div></div>
<div class="themeple_sc"><div class="themeple_blockquote">
<p>
We started our design wing with an aim to provide end- end solution to our clients under one roof and now we take care of your requirement from design phase to development phase to deployment and maintenance phase. Now you don't have to take the headache of finding a separate design team for your product as we already have one for you. We follow simple agile process here in delivering designs using SCRUM. We believe this is more of an interactive approach and complicated process might kill the true efficiency and not give desired results.
</p>
<ul>
<li>We focus on responsive web designs following user friendly patterns.</li>
<li>Designs which are easily accepted by target user group</li>
<li>W3C compliant designs</li>
<li>Tables less / div based layouts</li>
<li>Web 2.0 designs using Ajax / Jquery and other JS libraries</li> 
</ul>
</div></div>
<p>&nbsp;</p>

                    </div>

            </div>
        </div>
</section>
 <a href="#" class="scrollup">Scroll</a> 
 <!-- Social Profiles -->
    

<!-- Footer -->
    </div>