<!-- .header -->        
<style>
h3{
    padding-top:20px;
    padding-bottom:20px;
    }
</style>
        <!-- Page Head -->
    
    <div class="header_page">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Desing & Development</h4>
                    </div>
                    <div class="breadcrumbss">
                        <!--
                        <ul class="page_parents pull-right">
                            <li>You are here: </li>
                            <li><a href="index.html">Home</a>/</li>
                            
                            
                            <li><a href="index74337433.html?page_id=248">Shortcodes </a>/</li>

                                                        <li><a href="indexa814a814.html?page_id=294">Quote</a></li>

                        </ul>
                        -->
                    </div>
                   
                </div>
            </div>
            
    </div> 
     
    
    <section id="content">
        <div class="container" id="page">
            <div class="row">
                    <div class="span3">
                         <ul class="side-nav">
            <li ><a href="#" title="Back to Parent Page" class="cust" style="
background: #009dcd;
font-weight: bold;
color: #fff;
font-size: 14px;
padding: 14px 18px 15px 22px; 
width: 100%;">Desing & Development</a></li>
            
           <li class="page_item page-item-294  "><a href="devlopment.html"> Custom Application Development  <div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            <li class="page_item page-item-296  "><a href="custom-app.html">Product Development Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            <li class="page_item page-item-299  "><a href="develop-sass.html">SAAS / PAAS / IAAS Development<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>

            <li class="page_item page-item-364 "><a  href="dev-product.html"> Product Support / Maintenance Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            <li class="page_item page-item-250 "><a href="dev-web-api.html">Web Services / API Development Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
             <li class="page_item page-item-250 "><a href="dev-web-design.html"> Web Design / Development Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
             
               <li class="page_item page-item-250 current_page_item "><a href="dev-wirframe.html">Wireframe and POC Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
          </ul>
                    </div>

                    <div class="span9">
         <div class="themeple_sc"><div class="header"><h3>Wireframe and POC Services</h3><span class="border_style_color"></span></div></div>
<div class="themeple_sc"><div class="themeple_blockquote">
<p>When clients approach us with an idea which requires huge investments and the client is not sure of the acceptable level from the end user and seems confused we often suggest him / her to move ahead with proof of concept which requires less time and budget to built and by launching it our clients get an idea of what users think and also gathers feedback. If things go well then we incorporate the feedback and upgrade the proof of concept to a full application.</p>

<h3>Some benefits of POC</h3>
<ul>
<li>Low budget and quicker time to market</li>
<li>Generate valuable feedback from end users</li>
<li>The concept is already sold through the POC</li>
<li>Chances of getting investments from people who liked the idea</li>
<li>It gives you complete scope of work along with wireframe architecture</li>
</ul>
</div></div>
<p>&nbsp;</p>

                    </div>

            </div>
        </div>
</section>
 <a href="#" class="scrollup">Scroll</a> 
 <!-- Social Profiles -->
    

<!-- Footer -->
    </div>
