/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

/*.myButton {
    width: 150px;
}*/

footer .widget_contact_info li.user1{background: url('/assets/img/user.png') left center no-repeat}

.captcha-wrapper{
  background: url('/assets/captcha.JPG');
  width: 200px;
  height: 80px;
  margin: 10px 0;
  display: table-cell;
  vertical-align:middle;
  text-align: center;
}
.captcha-wrapper span{
  color: #15A80B;
  font-size: 4em;
  font-weight: bolder;
}
.captcha-input{
  width: 200px !important;
}
.captcha-error-msg{
  color: red;
}