<div class="top_footer">
  <div class="container">
  
  <div class="pagination "><a href="#" class="back"><i class=""></i></a><a href="#" class="next"><i class=""></i></a></div><span class="shadow_top_footer"></span></div>
</div>
<footer id="footer">
 <div class="inner">
  <div class="container">
    <div class="row-fluid ff">
     <!-- widget -->  
     <div class="span3">
      <div id="text-2" class="widget widget_text">  <div class="textwidget"><img alt="img"  src="/assets/img/media-clou-logo.png" />
        <br /><br />
        <span style="color:#0062A4; font-weight:bold;" >Media Cloud</span> is a ruby on rails development company formed with a vision of providing superior design and development services to client across the globe.our motive to deliver in time, in budget with quality services always keep us on out toes, but we enjoy this as we love what we do.</div>
      </div>
                              
  </div>
  <div class="span3">
    <div id="recent-posts-2" class="widget widget_recent_entries">
        <h6 class="widget-title"><span>Popular Pages</span></h6>  
              <ul>
     <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/about_us">About Us </a>
    </li>
    <li>
      <a href="/cloud_services">Cloud Services </a>
    </li>
    <li>
      <a  href="application_development">Design & Development</a>
    </li>
    <li>
      <a href="security_services">Security Services</a>
    </li>
  </ul>
</div>                              
</div>
<div class="span3">
  <div id="widget_contact_info-2" class="widget widget_contact_info">
  <h6 class="widget-title"><span>Contact Info</span>
  </h6><p>Get in touch with us</p>
  <ul>
  <li class="">Contact Person: <span>Neeraj Choudhary</span></li><li class="email">Email: <span>mediacloudservices@gmail.com
  </span></li>
  <li class="phone">Phone: <span>+91-9480018881</span></li>
  <li class="address">Address: <span style="line-height:17px;">No.270/2/21,<br>
   Near Banu Nursing Home, Sir Mv Road,<br> Bommanahalli, Bangalore - 560068</span></li>
  <li class="p">Contact Person: <span>Asish Kumar </span></li>
  <li class="phone">Phone: <span>+91- 9741455994</span></li>
  
  </ul>
  </div>                            
</div>

<%= render :partial => "quick_contact" %>

</div>
</div>
</div>
<div id="copyright">
  <div class="container">
    <div class="row-fluid">
     <div class="span12">&copy;Copyright 2015. All Right Reserved              
             <div class="pull-right">
      <ul class="footer_social_icons"><li class="flickr"><a href="#"><span></span></a></li><li class="youtube"><a href="#"><span></span></a></li><li class="yahoo"><a href="#"><span></span></a></li><li class="twitter"><a href="#"><span></span></a></li><li class="facebook"><a href="#"><span></span></a></li></ul>                        </div>
    </div>
  </div>
</div>
</div>
</footer>