<div class="span3">
                         <ul class="side-nav">
            <li ><a href="#" title="Back to Parent Page" class="cust" style="
background: #009dcd;
font-weight: bold;
color: #fff;
font-size: 14px;
padding: 15px 55px 15px 35px;
width: 100%;">Cloud Services</a></li>
            
            <li class="page_item page-item-294 current_page_item "><a href="#">Who We Are <div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            <li class="page_item page-item-296 "><a href="cloud-architech.html">Cloud Architecture and Design Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            <li class="page_item page-item-299 "><a href="cloud-consultancy.html">Cloud Consultancy Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>

            <li class="page_item page-item-364 "><a href="cloud-sass.html">SAAS / PAAS / IAAS Services<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
            <li class="page_item page-item-250 "><a href="cloud-consult.html">Cloud Consulting<div class="nav_arrow"><i class="moon-arrow-right-2"></i></div></a></li>
          </ul>
</div>