<!DOCTYPE html>

<html lang="en-US" class="css3transitions">


<!-- Mirrored from newthemes.themeple.co/maximushtml/about_us_2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 05 Feb 2015 09:53:01 GMT -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

  <meta charset="UTF-8" />




  <title>Media Cloud</title>



  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->

    <!--[if lt IE 9]>

    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->


    <link rel="shortcut icon" href="/assets/img/media-clou-logo-small.png">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,600,300italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,600,700,300italic' rel='stylesheet' type='text/css' />
    <link rel="alternate" type="application/rss+xml" title="Maximus &raquo; Feed" href="indexd784d784.html?feed=rss2" />
    <link rel="alternate" type="application/rss+xml" title="Maximus &raquo; Comments Feed" href="indexa6daa6da.html?feed=comments-rss2" />
    <link rel="alternate" type="application/rss+xml" title="Maximus &raquo; About Us 2 Comments Feed" href="indexdf10df10.html?feed=rss2&amp;page_id=176" />
    <link rel='stylesheet' id='layerslider_css-css'  href='/assets/content/plugins/LayerSlider/css/layersliderf39e.css?ver=4.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-settings-css'  href='/assets/content/plugins/revslider/rs-plugin/css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-captions-css'  href='/assets/content/plugins/revslider/rs-plugin/css/captions.css' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css'  href='/assets/content/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-responsive-css'  href='/assets/content/css/bootstrap-responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelementplayer-css'  href='/assets/content/css/mediaelementplayer.css' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery.fancybox-css'  href='/assets/content/fancybox/source/jquery.fancybox1c51.css?v=2.1.2' type='text/css' media='all' />
    <link rel='stylesheet' id='hoverex-css'  href='/assets/content/css/hoverex-all.css' type='text/css' media='all' />
    <link rel='stylesheet' id='vector-icons-css'  href='/assets/content/css/vector-icons.css' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery.easy-pie-chart-css'  href='/assets/content/css/jquery.easy-pie-chart.css' type='text/css' media='all' />
    <script type='text/javascript' src='/assets/includes/js/jquery/jquery3e5a.js?ver=1.10.2'></script>
    <script type='text/javascript' src='/assets/includes/js/jquery/jquery-migrate.min1576.js?ver=1.2.1'></script>
    <script type='text/javascript' src='/assets/content/plugins/LayerSlider/js/layerslider.kreaturamedia.jqueryf39e.js?ver=4.0.1'></script>
    <script type='text/javascript' src='/assets/content/plugins/LayerSlider/js/jquery-easing-1.36f3e.js?ver=1.3.0'></script>
    <script type='text/javascript' src='/assets/content/plugins/LayerSlider/js/jquerytransite2dc.js?ver=0.9.9'></script>
    <script type='text/javascript' src='/assets/content/plugins/LayerSlider/js/layerslider.transitionsf39e.js?ver=4.0.1'></script>
    <script type='text/javascript' src='/assets/content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js'></script>
    <script type='text/javascript' src='/assets/content/js/jquery.easy-pie-chart68b3.js?ver=1'></script>
    <script type='text/javascript' src='/assets/content/js/jquery.appear-1.1.1.modified68b3.js?ver=1'></script>
    <script type='text/javascript' src='/assets/content/js/modernizr.custom.6680368b3.js?ver=1'></script>
    <script type='text/javascript' src='/assets/content/js/animations68b3.js?ver=1'></script>
    <script type='text/javascript' src='/assets/content/js/jquery.countdown.min68b3.js?ver=1'></script>
    
    <script type='text/javascript' src='/assets/content/js/waypoints.min68b3.js?ver=1'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db00db0.html?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/assets/includes/wlwmanifest.html" /> 

    <meta http-equiv="Content-Language" content="en-US" />
    <style type="text/css" media="screen">
      .qtrans_flag span { display:none }
      .qtrans_flag { height:12px; width:18px; display:block }
      .qtrans_flag_and_text { padding-left:20px }
      .qtrans_flag_de { background:url('/assets/content/plugins/qtranslate/flags/de.png') no-repeat }
      .qtrans_flag_en { background:url('/assets/content/plugins/qtranslate/flags/gb.png') no-repeat }
      .qtrans_flag_zh { background:url('/assets/content/plugins/qtranslate/flags/cn.png') no-repeat }
    </style>

  </head>

  <body  class="page page-id-176 page-template-default header_2">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','../www.google-analytics.com/analytics.html','ga');

      ga('create', 'UA-40087279-6', 'themeple.co');
      ga('send', 'pageview');

    </script>
    
    <div class="top_nav">
    <div class="container">
      <div class="row-fluid">
        <div class="span6">
          <div class="pull-left">
            <div id="widget_topnav-2" class="widget widget_topnav"><div class="search small_widget"><a href="#" class="getdata" data-box="search"><i class="moon-search-3"></i>Search</a><div class="top_nav_sub search"><form action="#" id="search-form">
              <div class="input-append">
                <input type="text" size="16" placeholder="Search&hellip;" name="s" id="s"><button type="submit" class="more">Search</button>
              </div>
            </form>
            </div>
            </div>
            <div class="login small_widget"><a href="#" data-box="login"><i class="moon-user"></i>Login</a>
            <div class="top_nav_sub login">             
              <div class="sub-loggin"> 
            <form action="#wp-login.php" method="post">
             <input type="text" name="log" id="log" value="" size="20" placeholder="Username" />
             <input type="password" name="pwd" id="pwd" size="20" placeholder="Password"/>
             <input type="submit" name="submit" value="Send" class="button" />
             <div class="check-login">  
                <label for="rememberme"><input name="rememberme" id="rememberme" type="checkbox" checked="checked" value="forever" /> Remember me</label>
              </div>
              <input type="hidden" name="redirect_to" value="/" />
           
          </form>
          <a href="wp-loginc2b6c2b6.html?action=lostpassword">Recover password</a> 
          </div>
          </div>
          </div>
         <!--
       <div class="multilanguage small_widget">
           <a href="#" data-box="multilanguage"><i class="moon-flag"></i>Select Language</a>
          <div class="top_nav_sub multilanguage aaaa">
          <ul class="qtrans_language_chooser" id="qtranslate-chooser">
          <li class="lang-de"><a href="index33223322.html?lang=de" hreflang="de" title="Deutsch" class="qtrans_flag qtrans_flag_de">
          <span style="display:none">Deutsch</span></a></li>
          <li class="lang-en active"><a href="index.html" hreflang="en" title="English" class="qtrans_flag qtrans_flag_en"><span style="display:none">English</span></a></li>
          <li class="lang-zh"><a href="index34543454.html?lang=zh" hreflang="zh" title="中文" class="qtrans_flag qtrans_flag_zh"><span style="display:none">中文</span></a>
          </li>
          </ul>
          <div class="qtrans_widget_end">
          </div>
          </div>-->
          </div>
        </div>
        <div id="text-5" class="widget widget_text">
        <div class="textwidget"></div>
      </div>
      </div>
    </div>
    <!--
    <div class="span6">
      <div class="pull-right">
        <div id="social_widget-2" class="widget social_widget">
        <div class="row-fluid social_row">
        <div class="span12"><ul class="footer_social_icons">
            <li class="flickr"><a href="#"><span></span></a></li>
            <li class="youtube"><a href="#"><span></span></a></li>
            <li class="yahoo"><a href="#"><span></span></a></li>
            <li class="twitter"><a href="#"><span></span></a></li>
            <li class="facebook"><a href="#"><span></span></a></li>
        </ul>
        </div>
        </div>
        </div>  
        </div>
      </div>-->
    </div>
  </div>
</div>
<!-- Header -->
<div id="page-bg"></div>
<header id="header" class="header_2">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <!-- Logo -->
        <div id="logo" >
          <a href='index.html'><img src="/assets/img/media-clou-logo.png"></a>                        <span class="logo_desc"></span>
        </div><!-- #logo -->
        <div id="navigation" class="nav_top pull-right ">
        <!-- Menu Section -->
          <nav>
            <ul id="menu-menu" class="menu">
            <li ><a href="index.html">Home</a></li>
            <li class="current-menu-item current_page_item"><a href="#">About</a>
            <!--
             <ul class="sub-menu">
               <li><a href="about.html">About Us </a></li>
               <li><a href="">Leadership Team</a></li>
               <li><a href="">Expertise</a></li>
               <li><a href="">Partner</a></li>
             </ul>
             -->
           </li>
           <li><a href="services.html">Services</a>
           <!-- 
         <ul class="sub-menu">
           <li><a href="layer_full.html">IT Consultancy</a></li>
           <li><a href="layer_boxed.html">Solution Integration</a></li>
           <li><a href="layer_video.html">SPI Solutioning</a></li>
           <li><a href="rev_slider.html">QA on SPI Platform</a></li>
         </ul>
         -->
       </li>
         <li><a  href="cloud.html">Cloud Services</a> 
          <!--<ul class="sub-menu">
           <li><a href="layer_full.html">LayerSlider  Fullwidth</a></li>
           <li><a href="layer_boxed.html">LayerSlider Boxed</a></li>
           <li><a href="layer_video.html">LayerSlider Video</a></li>
           <li><a href="rev_slider.html">Revolution Slider</a></li>
           <li><a href="flex_animation.html">FlexSlider Animations</a></li>
           <li><a href="flex_boxed.html">Flexislider Boxed</a></li>
         </ul>-->
       </li>
       <li><a href="devlopment.html">Design & Development</a>
      <!--  <ul class="sub-menu">
         <li><a href="about_us.html">About Us</a></li>
         <li><a href="about_us_2.html">About Us 2</a></li>
         <li><a href="services.html">Services</a></li>
         <li><a href="services_2.html">Services 2</a></li>
         <li><a href="team.html">Meet The Team</a></li>
         <li><a href="faq.html">FAQ</a></li>
         <li><a href="price_table.html">Pricing Tables</a></li>  
         <li><a href="fullwidth.html">Page Fullwidth</a></li>
        <li><a href="right_sidebar.html">Page Right SIdebar</a></li>
        <li><a href="left_sidebar.html">Page Left Sidebar</a></li>
      </ul>-->
    </li>
    <!--
    <li><a href="portfolio.html"></a>
      <ul class="sub-menu">
       <li><a href="portfolio_2.html">Portfolio 2 Columns</a></li>
       <li><a href="portfolio_3.html">Portfolio 3 Columns</a></li>
       <li><a href="portfolio.html">Portfolio 4 Columns</a></li>
       <li><a href="portfolio_alt_2.html">Portfolio Alt. 2 Columns</a></li>
       <li><a href="portfolio_alt_3.html">Portfolio Alt. 3 Columns</a></li>
       <li><a href="portfolio_alt_4.html">Portfolio Alt. 4 Columns</a></li>
     </ul>
   </li>
   <li><a href="blog.html">Blog</a>
  </li>
 <li ><a href="#">Shortcodes</a>
  <!--<ul class="sub-menu">
   <li><a href="alert.html">Alert Box</a></li>
   <li><a href="buttons.html">Buttons</a></li>
   <li><a href="dropcaps.html">DropCaps</a></li>
   <li><a href="headings.html">Headings</a></li>
   <li><a href="highlights.html">Highlights</a></li>
   <li><a href="lists.html">Lists</a></li>
   <li><a href="tabs_toogles.html">Tabs &#038; Toogles</a></li>
   <li><a href="quote.html">Quote</a></li>
   <li><a href="table.html">Table</a></li>
   <li><a href="text.html">Text Columns</a></li>
   <li><a href="tooltip.html">Tooltip</a></li>
 </ul>
</li>-->
<li><a href="security.html">Security Services</a></li>
   <li><a href="contact.html">Contact</a></li>
 </li>
</ul>
</nav>




</div><!-- #navigation -->


</div>
</div>



</div>
<span class="shadow"></span>
</header>

<div class="top_wrapper">
  

  <!-- .header -->        

  

  <!-- Page Head -->
  
  <div class="header_page">
    <div class="container">
      <div class="row-fluid">
        <div class="span6">
          <h4>About Us </h4>
        </div>
        <div class="breadcrumbss">
          
          <ul class="page_parents pull-right">
            <li><i class="icon-chevron-right"></i></li>
           
            
            <li><a href="about-us.html">About Us </a></li>

          </ul>
        </div>
        
      </div>
    </div>
    
  </div> 
  
  
  
  <section id="content" class="page-dynamic_template-about2 sequentialchildren  section_last">
    <div class="row-fluid">
     
      
     <div class="span12">
       
      <div class="row-fluid row-dynamic-el " style="">

        <div class="container">

          <div class="row-fluid">

            <div class="span6 dynamic_slideshow"><div class="slideshow_container flexslider slide_layout_fixed" id="flex" >    <ul class="slides slide_flexslider">   <li class=' slide_element slide1 frame1' data-thumb='/assets/content/images/all/07/misc-4-90x45.jpg'><img src="/assets/content/images/all/09/misc-4.jpg" title='misc-4' alt='' />   </li> </ul></div><span class="shadow"></span></div>

            <div class="span6 plain_text alignment_left"><h2 class="big_title" style="color:#555;">Welcome to Media Cloud</h2><p class="content"  style="color:#999;"><span style="color:#009dcd;  font-weight:bold;">Media Cloud</span> is a ruby on rails development company formed with a vision of providing superior design and development services to client across the globe.our motive to deliver in time, in budget with quality services always keep us on out toes, but we enjoy this as we love what we do. We have been serving clients with different services starting from product design to development to deployment to consulting on different verticals for over 6+ years. We hire the best talents from the industry with a vision to create a platform for our clients where they can come and talk out issues and walk with the most optimum solution. We have people from best masters and engineering institutes across India like IIM's and IIT's with experience ranging from 3- 25 years. We aim to create a benchmark for our competitors and clients which will redefine the meaning of quality in budget and on-time delivery.

              <br /><br />
              We work with emerging technologies like Ruby on Rails, Cloud Computing producing excellent SAAS, PAAS and IAAS apps for our clients through agile development methodologies.</p></div>

            </div>

          </div>

        </div>

        <div class="row-fluid row-dynamic-el " style="">

          <div class="container">

            <div class="row-fluid">

              <div class="divider__"></div>

            </div>

          </div>

        </div>
<!--
        <div class="row-fluid row-dynamic-el " >

          <div class="container">

            <div class="row-fluid">

              <div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="circle"><i class=" moon-laptop"></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">Software Design & Development</a></h4></dd><p>Superior quality responsive designs produced for applications deployed on cloud and built in RAILS.</p><a href="#" class="read_m"><span>Read More</span> <span class="direct_btn"><i class="moon-arrow-right-2"></i></span></a></dl></div>

              <div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="circle"><i class=" moon-cloud icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">Cloud Computing</a></h4></dd><p>Our cloud master chefs can help you with any issues and solutions related to public and Private cloud.</p><a href="#" class="read_m"><span>Read More</span> <span class="direct_btn"><i class="moon-arrow-right-2"></i></span></a></dl></div>

              <div class="span4 services_small"><dl class="dl-horizontal"><dt><span class="circle"><i class=" moon-users icon "></i></span></dt><dd class="with_icon"><h4 class="with_icon"><a href="#">Security Services</a></h4></dd><p> Light on your system resources, you don't even notice it's running in the background & protecting you. "One chosen solution with high performance cyber threat protection".</p><a href="#" class="read_m"><span>Read More</span> <span class="direct_btn"><i class="moon-arrow-right-2"></i></span></a></dl></div>

            </div>

          </div>

        </div>

        <div class="row-fluid row-dynamic-el">

          <div class="span12 textbar-container fullwidth_"><div class="container"><div class="textbar"><h2 class="">Maximus. Business has two functions - marketing & innovation</h2><h4 class=""></h4><p class="perspective"><a class="custom_btn" id="btn_40" style="
            padding: 12px 31px;
            background: #009dcd;
            
            font-weight: bold;
            color: #fff;
            font-size: 14px; 
            float:left;" 
            href="#">Purchase Now</a></p><style>#btn_40:after{background:#0074a7}</style></div></div></div>

          </div>

        </div>

      </div>

      <div class="row-fluid row-dynamic-el " style="">

        <div class="container">

          <div class="row-fluid">

            <div class="span4"><div class="one-staff"><img src="/assets/content/images/all/07/photodune-217509-female-customer-support-m-495x400-800x600.jpg" alt=""><div class="content "><h6>John Doe</h6><span>CEO & Developer</span><p>Sed at odio ut arcu fringilla dictum magna nisi.Aliquam at erat in purus velit vel dolo dictum magna nisi. Valiquam at erat in purus velit vel dolo dictum magna nisi.</p></div><div class="info"><span class="email">E: team.kacurreli@gmail.com</span><span class="phone">P: 0900 00 0 000 4</span></div><div class="social"><ul class="social_icons"><a href="#" title="Facebook"><li class="facebook"></li></a><a href="#" title="Twitter"><li class="twitter"></li></a><a href="#" title="Google"><li class="google-plus"></li></a><a href="#" title="Linkedin"><li class="linkedin"></li></a><ul></div></div></div>

            <div class="span4"><div class="one-staff"><img src="/assets/content/images/all/07/staff2-800x600.jpg" alt=""><div class="content "><h6>John Doe</h6><span>CEO & Developer</span><p>Sed at odio ut arcu fringilla dictum magna nisi.Aliquam at erat in purus velit vel dolo dictum magna nisi. Valiquam at erat in purus velit vel dolo dictum magna nisi.<a href="indexeb75eb75.html?page_id=483">
            </a></p></div><div class="info"><span class="email">E: john.doe@gmail.com</span><span class="phone">P: 0900 00 0 000 4</span></div><div class="social"><ul class="social_icons"><a href="#" title="Facebook"><li class="facebook"></li></a><a href="#" title="Google"><li class="google-plus"></li></a><a href="#" title="Pinterest"><li class="pinterest"></li></a><a href="#" title="Linkedin"><li class="linkedin"></li></a><a href="#" title="Mail"><li class="mail"></li></a><ul></div></div></div>

            <div class="span4"><div class="one-staff"><img src="/assets/content/images/all/07/team3-800x600.jpg" alt=""><div class="content "><h6>John Doe</h6><span>Web Developer</span><p>Sed at odio ut arcu fringilla dictum magna nisi.Aliquam at erat in purus velit vel dolo dictum magna nisi. Valiquam at erat in purus velit vel dolo dictum magna nisi.</p></div><div class="info"><span class="email">E: john.doe@gmail.com</span><span class="phone">P: 0369999998</span></div><div class="social"><ul class="social_icons"><a href="#" title="Facebook"><li class="facebook"></li></a><a href="#" title="Twitter"><li class="twitter"></li></a><a href="#" title="Google"><li class="google-plus"></li></a><a href="#" title="Linkedin"><li class="linkedin"></li></a><ul></div></div></div>

          </div>

        </div>

      </div>
-->
      <div class="row-fluid row-dynamic-el section-style" style="background-image:url(/assets/img/parallex2.png);  background-repeat: no-repeat;background-position: 50% 0%;background-attachment: fixed; ">

        <div class="container">

          <div class="row-fluid">

            <div class="row-fluid row-dynamic-el " style="">

              <div class="container">

                <div class="row-fluid">

                  <div class="span4 services_creative"><span class="icon_wrapper"><i class=" moon-laptop icon"></i></span><h4><a href="devlopment.html"> Design & Development</a></h4><p>Superior quality responsive designs produced for applications deployed on cloud and built in RAILS.<br><br></p><a href="devlopment.html" class="link">Read More</a></div>

                  <div class="span4 services_creative"><span class="icon_wrapper"><i class=" moon-cloud icon"></i></span><h4><a href="cloud.html">Cloud Services</a></h4><p>Our cloud master chefs can help you with any issues and solutions related to public and Private cloud.<br><br></p><a href="cloud.html" class="link">Read More</a></div>

                  <div class="span4 services_creative"><span class="icon_wrapper"><i class=" moon-users-4 icon"></i></span><h4><a href="security.html">Security Services</a></h4><p>Light on your system resources, you don't even notice it's running in the background & protecting you. "One chosen solution with high performance cyber threat protection".</p><a href="security.html" class="link">Read More</a></div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>                
    </div>
    
  </div>
</section>
<a href="#" class="scrollup">Scroll</a> 
<!-- Social Profiles -->


<!-- Footer -->
</div>


<div class="footer_wrapper">

  <div class="top_footer">
  <div class="container">
  <!--
  <ul class='tweet_list' id='tweet_footer'>
  <li class="tweet">
  <h5><img alt="img" src="../../pbs.twimg.com/profile_images/3729890381/2db1f4696aabc35eb52568d6a49ef24b_normal.png"> Collis @ Envato Stories travels to Indonesia! Watch the profile of Rizki <a class="twitter-link" href="http://twitter.com/r4prolution">@r4prolution</a> talented caricature Illustrator. <a href="https://t.co/alqbiZehDm" class="twitter-link">https://t.co/alqbiZehDm</a></h5></li><li class="tweet"><h5><img alt="img" src="../../pbs.twimg.com/profile_images/3729890381/2db1f4696aabc35eb52568d6a49ef24b_normal.png"> Collis @ "You've never heard of this place, but it’s just been voted Australia’s coolest tech company" <a href="http://t.co/3v923I9NVd" class="twitter-link">http://t.co/3v923I9NVd</a></h5></li><li class="tweet">
  <h5><img alt="img" src="../../pbs.twimg.com/profile_images/3729890381/2db1f4696aabc35eb52568d6a49ef24b_normal.png"> Collis @ Important changes to ThemeForest and CodeCanyon Item Support announced on Market Blog: <a href="http://t.co/Y8OgEKxdhT" class="twitter-link">http://t.co/Y8OgEKxdhT</a>
  </h5>
  </li>
  </ul>-->
  <div class="pagination "><a href="#" class="back"><i class=""></i></a><a href="#" class="next"><i class=""></i></a></div><span class="shadow_top_footer"></span></div>
</div>
<footer id="footer">
 <div class="inner">
  <div class="container">
    <div class="row-fluid ff">
     <!-- widget -->  
     <div class="span3">
      <div id="text-2" class="widget widget_text">  <div class="textwidget"><img alt="img"  src="/assets/img/media-clou-logo.png" />
        <br /><br />
        <span style="color:#0062A4; font-weight:bold;" >Media Cloud</span> is a ruby on rails development company formed with a vision of providing superior design and development services to client across the globe.our motive to deliver in time, in budget with quality services always keep us on out toes, but we enjoy this as we love what we do.</div>
      </div>
      <!--
      <div class="widget widget_search"><form action="#" >
      <div class="input-append">
        <input type="text" size="16" placeholder="Search&hellip;" ><button type="submit" class="more">Search</button>
      </div>
    </form></div>  -->                          
  </div>
  <div class="span3">
    <div id="recent-posts-2" class="widget widget_recent_entries">
        <h6 class="widget-title"><span>Popular Pages</span></h6>  
              <ul>
     <li>
      <a href="index.html">Home</a>
    </li>
    <li>
      <a href="#">About Us </a>
    </li>
    <li>
      <a href="cloud.html">Cloud Services </a>
    </li>
    <li>
      <a  href="devlopment.html">Design & Development</a>
    </li>
    <li>
      <a href="security.html">Security Services</a>
    </li>
  </ul>
</div>                              
</div>
<div class="span3">
  <div id="widget_contact_info-2" class="widget widget_contact_info">
  <h6 class="widget-title"><span>Contact Info</span>
  </h6><p>Get in touch with us</p>
  <ul>
  <li class="address">Address: <span style="line-height:17px;">No.270/2/21,<br>
   Near Banu Nursing Home, Sir Mv Road,<br> Bommanahalli, Bangalore - 560068</span></li>
  <li class="phone">Phone: <span>080-41265450/+91-9480018881</span></li><li class="email">Email: <span>neeraj@dine-media.com
  </span></li>

  
  </ul>
  </div>                            
</div>
<div class="span3">
  <div id="widget_flickr-2" class="widget widget_flickr">
  <h6 class="widget-title">
  <span>Quick Contact</span>
  </h6>
  <div class="flickr_container">
  <input type="text" placeholder="Name" >
  <input type="text" placeholder="Email">
  <textarea placeholder="Message"></textarea><br>
  <input type="button" value="Submit">
  </div>
  </div>                            
</div>
</div>
</div>
</div>
<div id="copyright">
  <div class="container">
    <div class="row-fluid">
     <div class="span12">&copy;Copyright 2015. All Right Reserved              
             <div class="pull-right">
      <ul class="footer_social_icons"><li class="flickr"><a href="#"><span></span></a></li><li class="youtube"><a href="#"><span></span></a></li><li class="yahoo"><a href="#"><span></span></a></li><li class="twitter"><a href="#"><span></span></a></li><li class="facebook"><a href="#"><span></span></a></li></ul>                        </div>
    </div>
  </div>
</div>
</div>
</footer>
</div>  

<script type='text/javascript' src='/assets/content/js/bootstrap.min68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.easing.1.168b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.easing.1.368b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.mobilemenu68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/isotope68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.cycle.all68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/customSelect.jquery.min68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.flexslider-min68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/fancybox/source/jquery.fancybox68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/fancybox/source/helpers/jquery.fancybox-media68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.carouFredSel-6.1.0-packed68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/mediaelement-and-player.min68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/tooltip68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.hoverex68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.imagesloaded.min68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/switcher68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/main68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.placeholder.min68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.livequery68b3.js?ver=1'></script>
</body>


<!-- Mirrored from newthemes.themeple.co/maximushtml/about_us_2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 05 Feb 2015 09:53:05 GMT -->
</html>