<!DOCTYPE html>

<html lang="en-US" class="css3transitions">


<!-- Mirrored from newthemes.themeple.co/maximushtml/about_us_2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 05 Feb 2015 09:53:01 GMT -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

  <meta charset="UTF-8" />
  <title>Media Cloud</title>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->

    <!--[if lt IE 9]>

    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->

    <link rel="shortcut icon" href="/assets/img/media-clou-logo-small.png">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,600,300italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,600,700,300italic' rel='stylesheet' type='text/css' />
    <link rel="alternate" type="application/rss+xml" title="Maximus &raquo; Feed" href="indexd784d784.html?feed=rss2" />
    <link rel="alternate" type="application/rss+xml" title="Maximus &raquo; Comments Feed" href="indexa6daa6da.html?feed=comments-rss2" />
    <link rel="alternate" type="application/rss+xml" title="Maximus &raquo; About Us 2 Comments Feed" href="indexdf10df10.html?feed=rss2&amp;page_id=176" />
    <link rel='stylesheet' id='layerslider_css-css'  href='/assets/content/plugins/LayerSlider/css/layersliderf39e.css?ver=4.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-settings-css'  href='/assets/content/plugins/revslider/rs-plugin/css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-captions-css'  href='/assets/content/plugins/revslider/rs-plugin/css/captions.css' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css'  href='/assets/content/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-responsive-css'  href='/assets/content/css/bootstrap-responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' id='mediaelementplayer-css'  href='/assets/content/css/mediaelementplayer.css' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery.fancybox-css'  href='/assets/content/fancybox/source/jquery.fancybox1c51.css?v=2.1.2' type='text/css' media='all' />
    <link rel='stylesheet' id='hoverex-css'  href='/assets/content/css/hoverex-all.css' type='text/css' media='all' />
    <link rel='stylesheet' id='vector-icons-css'  href='/assets/content/css/vector-icons.css' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery.easy-pie-chart-css'  href='/assets/content/css/jquery.easy-pie-chart.css' type='text/css' media='all' />
    <script type='text/javascript' src='/assets/includes/js/jquery/jquery3e5a.js?ver=1.10.2'></script>
    <script type='text/javascript' src='/assets/includes/js/jquery/jquery-migrate.min1576.js?ver=1.2.1'></script>
    <script type='text/javascript' src='/assets/content/plugins/LayerSlider/js/layerslider.kreaturamedia.jqueryf39e.js?ver=4.0.1'></script>
    <script type='text/javascript' src='/assets/content/plugins/LayerSlider/js/jquery-easing-1.36f3e.js?ver=1.3.0'></script>
    <script type='text/javascript' src='/assets/content/plugins/LayerSlider/js/jquerytransite2dc.js?ver=0.9.9'></script>
    <script type='text/javascript' src='/assets/content/plugins/LayerSlider/js/layerslider.transitionsf39e.js?ver=4.0.1'></script>
    <script type='text/javascript' src='/assets/content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js'></script>
    <script type='text/javascript' src='/assets/content/js/jquery.easy-pie-chart68b3.js?ver=1'></script>
    <script type='text/javascript' src='/assets/content/js/jquery.appear-1.1.1.modified68b3.js?ver=1'></script>
    <script type='text/javascript' src='/assets/content/js/modernizr.custom.6680368b3.js?ver=1'></script>
    <script type='text/javascript' src='/assets/content/js/animations68b3.js?ver=1'></script>
    <script type='text/javascript' src='/assets/content/js/jquery.countdown.min68b3.js?ver=1'></script>
    
    <script type='text/javascript' src='/assets/content/js/waypoints.min68b3.js?ver=1'></script>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db00db0.html?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/assets/includes/wlwmanifest.html" /> 

    <meta http-equiv="Content-Language" content="en-US" />
    <style type="text/css" media="screen">
      .qtrans_flag span { display:none }
      .qtrans_flag { height:12px; width:18px; display:block }
      .qtrans_flag_and_text { padding-left:20px }
      .qtrans_flag_de { background:url('/assets/content/plugins/qtranslate/flags/de.png') no-repeat }
      .qtrans_flag_en { background:url('/assets/content/plugins/qtranslate/flags/gb.png') no-repeat }
      .qtrans_flag_zh { background:url('/assets/content/plugins/qtranslate/flags/cn.png') no-repeat }
    </style>

  </head>

  <body  class="page page-id-176 page-template-default header_2">   
    <%= render partial: 'layouts/header' %>
    <div class="top_wrapper">       
      <%= yield %>
    </div>

<div class="footer_wrapper">
  <%= render partial: 'layouts/footer' %>  
</div>

<script type='text/javascript' src='/assets/content/js/bootstrap.min68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.easing.1.168b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.easing.1.368b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.mobilemenu68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/isotope68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.cycle.all68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/customSelect.jquery.min68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.flexslider-min68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/fancybox/source/jquery.fancybox68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/fancybox/source/helpers/jquery.fancybox-media68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.carouFredSel-6.1.0-packed68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/mediaelement-and-player.min68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/tooltip68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.hoverex68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.imagesloaded.min68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/switcher68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/main68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.placeholder.min68b3.js?ver=1'></script>
<script type='text/javascript' src='/assets/content/js/jquery.livequery68b3.js?ver=1'></script>
</body>


<!-- Mirrored from newthemes.themeple.co/maximushtml/about_us_2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 05 Feb 2015 09:53:05 GMT -->
</html>